<% provide :title do %><%= t("devise_views.users.registrations.new.title") %><% end %>
<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= render "devise/omniauth_form", action: "sign_up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/errors", resource: resource %>

  <p>
    <%= sanitize(t("devise_views.users.registrations.new.organization_signup",
        signup_link: link_to(t("devise_views.users.registrations.new.organization_signup_link"), new_organization_registration_path))) %>
  </p>

  <div class="row">
    <div class="small-12 column">

      <%= f.hidden_field :use_redeemable_code %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <%= f.text_field :username,  autofocus: true, maxlength: User.username_max_length,
                                   placeholder: t("devise_views.users.registrations.new.username_label"),
                                   hint: t("devise_views.users.registrations.new.username_note") %>

      <%= f.invisible_captcha :address %>

      <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label") %>

      <% if resource.first_name_required? %>
        <%= f.text_field :first_name, placeholder: t("custom.devise_views.users.registrations.new.first_name_label") %>
      <% end %>

      <% if resource.last_name_required? %>
        <%= f.text_field :last_name, placeholder: t("custom.devise_views.users.registrations.new.last_name_label") %>
      <% end %>

      <% if resource.street_name_required? %>
        <%= f.select :city_street_id, CityStreet.all.map{ |str| [str.name_with_plz, str.id]  }, { prompt: t('helpers.select.prompt') } %>
      <% end %>

      <% if resource.street_number_required? %>
        <%= f.text_field :street_number, placeholder: t("custom.devise_views.users.registrations.new.street_number_label") %>
      <% end %>

      <% if resource.plz_required? %>
        <%= f.text_field :plz, placeholder: t("custom.devise_views.users.registrations.new.plz_label") %>
      <% end %>

      <% if resource.city_name_required? %>
        <%= f.text_field :city_name, placeholder: t("custom.devise_views.users.registrations.new.city_name_label") %>
      <% end %>

      <% if resource.date_of_birth_required? %>
        <div class="user-date-of-birth sign-up">
          <%= f.date_select :date_of_birth,
                            prompt: true,
                            start_year: 1900, end_year: minimum_required_age.years.ago.year %>
        </div>
      <% end %>

      <% if resource.gender_required? %>
        <%= f.select :gender, options_for_gender_select, include_blank: t("custom.devise_views.users.registrations.new.gender") %>
      <% end %>

      <% if resource.document_required? %>
				<%= f.select :document_type, user_document_types, prompt: "" %>
				<%= f.text_field :document_last_digits, placeholder: t("custom.devise_views.users.registrations.new.document_last_digits_label") %>

        <div>
          <label><%= t('custom.users.document_help') %></label>

          <div class='row margin-bottom'>
            <div class='column small-12 medium-6'>
              <label><%= t('custom.users.card_label') %></label>
              <p><%= t('custom.users.card_help') %></p>
              <%= image_tag 'card.jpg' %>
            </div>

            <div class='column small-12 medium-6'>
              <label><%= t('custom.users.pass_label') %></label>
              <p><%= t('custom.users.pass_help') %></p>
              <%= image_tag 'pass_new.png' %>
            </div>
          </div>
        </div>
      <% end %>



      <%= f.password_field :password, autocomplete: "off",
                           placeholder: t("devise_views.users.registrations.new.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.users.registrations.new.password_confirmation_label"),
                           placeholder: t("devise_views.users.registrations.new.password_confirmation_label") %>

      <% if resource.use_redeemable_code %>
        <%= f.text_field :redeemable_code, placeholder: t("devise_views.users.registrations.new.redeemable_code") %>
      <% end %>

      <%= f.check_box :terms_of_service,
        title: t("devise_views.users.registrations.new.terms_title"),
        label: t("custom.devise_views.users.registrations.new.terms",
                 terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/conditions",
                                title: t("shared.target_blank"),
                                target: "_blank"),
                 privacy: link_to(t("custom.devise_views.users.registrations.new.privacy_link"), "/privacy",
                                title: t("shared.target_blank"),
                                target: "_blank")
                ) %>


      <div class="small-12 medium-6 small-centered margin-top">
        <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
