<div class='row'>
  <div class='column'>
    <%= link_to "duration", namespace_projekt_phase_path(action: "duration") %>
    <%= link_to "naming", namespace_projekt_phase_path(action: "naming") %>
    <%= link_to "restrictions", namespace_projekt_phase_path(action: "restrictions") %>
    <%= link_to "settings", namespace_projekt_phase_path(action: "settings") %>
    <%= link_to "map", namespace_projekt_phase_path(action: "map") %>
    <%= link_to "projekt_labels", namespace_projekt_phase_path(action: "projekt_labels") %>
  </div>
</div>
