<div class="row">
  <div class="column">
    <div class="static-subnav">
      <%= projekt_phase_navbar_link("duration") %>
      <%= projekt_phase_navbar_link("naming") %>
      <%= projekt_phase_navbar_link("restrictions") %>
      <%= projekt_phase_navbar_link("settings") %>
      <%= projekt_phase_navbar_link("projekt_labels") %>
      <%= projekt_phase_navbar_link("sentiments") %>
      <%= projekt_phase_navbar_link("map") %>
    </div>
  </div>
</div>
