<div class="row">
  <div class="column large-8">
    <%= back_link_to edit_namespace_projekt_path(@projekt) %>
    <h2><%= t("custom.admin.projekt_phases.edit.title") %>  </h2>
  </div>
</div>

<%= translatable_form_for(@projekt_phase, url: namespace_projekt_phase_path(@projekt, @projekt_phase), as: :projekt_phase) do |f| %>

  <div class="row">
    <div class="column">
      <%= render "shared/errors", resource: @projekt_phase %>
      <%= render "shared/globalize_locales", resource: @projekt_phase %>
    </div>
  </div>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="column large-8">
        <strong><%= t("custom.admin.projekt_phases.phase_tab_name") %></strong>
        <%= translations_form.text_field :phase_tab_name, label: false %>
      </div>
    </div>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase"]) %>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.new_resource_button_name") %></strong>
          <%= translations_form.text_field :new_resource_button_name, label: false %>
        </div>
      </div>

      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.resource_form_title") %></strong>
          <%= translations_form.text_field :resource_form_title, label: false %>
        </div>
      </div>

      <% if @projekt_phase.is_a?(ProjektPhase::DebatePhase) || @projekt_phase.is_a?(ProjektPhase::ProposalPhase) %>
        <div class="row">
          <div class="column large-8">
            <strong><%= t("custom.admin.projekt_phases.projekt_selector_hint") %></strong>
            <%= translations_form.text_area :projekt_selector_hint,
              label: false,
              class: "html-area #{ck_editor_class(current_user)}" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @projekt_phase.name.in?(["comment_phase", "debate_phase", "proposal_phase", "question_phase", "voting_phase", "budget_phase", "legislation_phase", "livestream_phase"]) %>
    <div class='row'>
      <div class='column large-8'>
        <strong><%= t("custom.admin.projekt_phases.duration") %></strong>
        <table>
          <tr>
            <td>
              <strong style="margin-left:1rem;"><%= t("custom.admin.projekts.edit.projekt_phases_tab.beginning") %></strong>
            </td>
            <td>
              <%= f.date_field :start_date, label: false, style: "margin-bottom:0 !important" %>
            </td>
          </tr>
          <tr>
            <td>
              <strong style="margin-left:1rem;"><%= t("custom.admin.projekts.edit.projekt_phases_tab.ending") %></strong>
            </td>
            <td>
              <%= f.date_field :end_date, label: false, style: "margin-bottom:0 !important" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>

    <div class='row'>
      <div class='column large-8'>
        <%= render partial: 'custom/admin/projekt_phases/phase_restrictions', locals: { projekt: @projekt, projekt_phase: @projekt_phase, f: f } %>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='column large-8'>
      <%= f.submit(t("custom.admin.projekts.edit.update"), class: "button success") %>
    </div>
  </div>
<% end %>
