<%= render "custom/admin/projekt_phases/heading" %>
<%= render "custom/admin/projekt_phases/nav_bar" %>

<div class="row">
  <div class="column">
    <h2><%= t("custom.admin.projekt_phases.formular_answers.page_title") %></h2>
  </div>
</div>

<div class="row">
  <div class="column">

    <%= link_to t("custom.shared.download"), formular_answers_admin_projekt_phase_path(@projekt_phase, format: :csv), class: "float-right small clear" %>

    <table>
      <thead>
        <tr>
          <% @formular_fields.each do |ff| %>
            <th><%= ff.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @formular_answers.each do |fa| %>
          <tr>
            <% @formular_fields.each do |ff| %>
              <td><%= fa.answers[ff.key] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @formular_answers %>
  </div>
</div>
