<%= render "custom/admin/projekt_phases/heading" %>
<%= render "custom/admin/projekt_phases/nav_bar" %>

<div class="row">
  <div class="column">
    <h2><%= t("custom.admin.projekt_phases.formular.page_title") %></h2>
  </div>
</div>

<div class="row">
  <div class="column">
    <div id="formular-fields" class="formular-fields sortable" data-js-url="<%= polymorphic_path([@namespace, @projekt_phase, @formular, FormularField.new], action: :order_formular_fields) %>">
      <%= render partial: "custom/admin/formular_fields/formular_field", collection: @formular_fields, as: :formular_field %>
    </div>

    <div id="new_formular_field">
      <%= render "custom/admin/formular_fields/new_formular_field_button" %>
    </div>
  </div>
</div>
