<%= render "custom/admin/projekt_phases/heading" %>
<%= render "custom/admin/projekt_phases/nav_bar" %>

<div class="row">
  <div class="column">
    <h2><%= t("custom.admin.projekt_phases.naming.page_title") %></h2>
  </div>
</div>

<%= translatable_form_for(@projekt_phase, url: namespace_projekt_phase_path, as: :projekt_phase) do |f| %>
  <%= hidden_field_tag :action_name, action_name %>

  <div class="row">
    <div class="column">
      <%= render "shared/errors", resource: @projekt_phase %>
      <%= render "shared/globalize_locales", resource: @projekt_phase %>
    </div>
  </div>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="column large-8">
        <strong><%= t("custom.admin.projekt_phases.phase_tab_name") %></strong>
        <%= translations_form.text_field :phase_tab_name, label: false %>
      </div>
    </div>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase", "voting_phase", "question_phase"]) %>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.cta_button_name") %></strong>
          <%= translations_form.text_field :cta_button_name, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase", "budget_phase"]) %>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.resource_form_title") %></strong>
          <%= translations_form.text_field :resource_form_title, label: false %>
        </div>
      </div>
    <% end %>

    <% if @projekt_phase.name.in?(["debate_phase", "proposal_phase"]) %>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.labels_name") %></strong>
          <%= translations_form.text_field :labels_name, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.sentiments_name") %></strong>
          <%= translations_form.text_field :sentiments_name, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="column large-8">
          <strong><%= t("custom.admin.projekt_phases.projekt_selector_hint") %></strong>
          <%= translations_form.text_area :projekt_selector_hint,
            label: false,
            class: "html-area #{ck_editor_class(current_user)}" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class='row'>
    <div class='column large-8'>
      <%= f.submit(t("custom.admin.projekt_phases.shared.update_button"), class: "button success") %>
    </div>
  </div>
<% end %>
