<%= render "heading" %>
<%= render "nav_bar" %>

<div class="row">
  <div class="column">
    <h2><%= t("custom.admin.projekt_phases.settings.page_title") %></h2>
  </div>
</div>

<% @projekt_phase_features.each do |key, value| %>
  <%= render "custom/admin/projekt_phases/settings/features_table", features: value %>
<% end %>

<% @projekt_phase_options.each do |key, value| %>
  <%= render "custom/admin/projekt_phases/settings/options_table", options: value %>
<% end %>
