<div class='options-group'>

  <%= f.radio_button :geozone_affiliated, "no_affiliation",
                     label: t("custom.geozones.sidebar_filter.affiliations.no_affiliation"),
                     checked: (@projekt.geozone_affiliated.blank? || @projekt.geozone_affiliated == "no_affiliation") %>
  <br>

  <%= f.radio_button :geozone_affiliated, "entire_city", label: t("custom.geozones.sidebar_filter.affiliations.entire_city_short") %>
  <br>

  <%= f.radio_button :geozone_affiliated, "only_geozones", label: t("custom.geozones.sidebar_filter.affiliations.only_geozones"), class: "with-related-options" %>

  <div class="options-group">
    <%= f.collection_check_boxes(:geozone_affiliation_ids, Geozone.all, :id, :name) do |cb| %>
      <%= cb.label(class: "checkbox-label checkbox-label--inline") { cb.check_box + cb.text } %>
    <% end %>
  </div>
</div>
