<div class="direct-image-upload js-direct-image-upload">
  <div class="js-direct-image-upload--file-attach-area direct-image-upload--file-attach-area">
    <div class="direct-image-upload--placeholder">
      <div class="direct-image-upload--text">
        Diskussionsbeitr채ge mit aussagekr채ftigem Bild erhalten durchschnittlich 34 % mehr Unterst체tzung
      </div>
      <div class="direct-image-upload--label">
        <div class="direct-image-upload--plus">
          +
        </div>
        <div class="direct-image-upload--label-title">
          Bild hinzuf체gen
        </div>
        <div class="direct-image-upload--hint">
          Am besten eignet sich ein Bild im Format 490 x 290 Pixel
        </div>
      </div>
    </div>
  </div>

  <div class="direct-image-upload--inputs">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :cached_attachment, class: "js-direct-image-upload--cached-attachment" %>
    <div class="direct-image-upload--file-field">
      <%= file_field %>
    </div>
  </div>

  <div class="action-add js-attachment-errors direct-image-upload--attachment-errors <%= singular_name %>-attachment">
  </div>

  <div class="direct-image-upload--progress-bar-wrapper"><div class="direct-image-upload--loading-bar"></div></div>

  <div class="<%= preview_area_class %> direct-image-upload--preview-area js-direct-image-upload--preview-area">

    <% if attachable.attachment.attached? && attachable.attachment.image? %>
      <%= render_image(attachable, :thumb, false) %>
    <% end %>

    <!-- <img class="js-direact-image-upload--preview-image"> -->

    <div class="direct-image-upload--image-actions-area js-direct-image-upload--attachment-actions">
      <!-- <div class="file-name js-file-name" title="<%= file_name %>"><%= file_name %></div> -->
    <%= f.text_field :title, placeholder: t("#{plural_name}.form.title_placeholder"), class: "direct-image-upload--file-title" %>

      <div class="action-remove text-right">
        <%= destroy_link %>
      </div>
    </div>
  </div>
</div>

