<div class="dropzone-image-upload js-dropzone-image-upload" data-submit-form="<%= @submit_form %>">
  <div class="dropzone-image-upload--file-attach-area">
    <% if placeholder.present? %>
      <%= placeholder %>
    <% end %>
  </div>
  <div class="dropzone-image-upload--preview-wrapper js-dropzone-image-upload--preview-wrapper">
    <img class="<%= preview_area_class %> dropzone-image-upload--preview js-dropzone-image-upload--preview" ></img>
  </div>

  <%= presetuped_file_field %>

  <% if custom_edit_button.present? %>
    <div class="dropzone-image-upload-custom-edit-button js-dropzone-image-upload-custom-edit-button">
      <%= custom_edit_button %>
    </div>
  <% end %>
</div>
