<% provide :title do %><%= @poll.name %><% end %>

<main>
  <div id="<%= dom_id(@poll) %>">
    <div class="flex-layout">
      <div class="main-column">
        <h1 class="resource-page--title"><%= "#{@poll.author.name} startet eine Diskussion" %></h1>
        <div class="resource-page--title-subline">
          <%= render_custom_block("polls_show_welcome_text", custom_prefix: @poll.author.name, default_content: t("custom.polls.show.welcome_default_text")) %>
        </div>
      </div>
      <div class="sidebar-placeholder"></div>
    </div>

    <div class="flex-layout">
      <div class="main-column">
        <%= render ResourcePage::BannerComponent.new(resource: @poll) do |c| %>
          <% c.links_section do %>
             <%= render Polls::SubNavComponent.new(poll: @poll) %>
          <% end %>
        <% end %>

        <div class="resource-page--description new-card">
          <%= auto_link_already_sanitized_html wysiwyg(@poll.description) %>
        </div>

        <%= render "callout" %>

        <%= render Polls::ResultsComponent.new(poll: @poll) %>
      </div>
    <aside class="sidebar">
    </aside>
    </div>
  </div>
</main>
