<main class="projekts-page projekts-overview-page">
  <div class="main-column projekts-overview-page--heading">
    <h1>
      <%= t("custom.projekts.index.title") %>
    </h1>
    <%= render_custom_block "projekts_overview_page", default_content: t("custom.projekts.index.welcome_default_text_html") %>
  </div>

  <div class="flex-layout">
    <div class="main-column">
      <div class="projekts-overview-page--projekts-list">
        <%= render Projekts::ListComponent.new(
          projekts: @projekts,
          map_coordinates: @map_coordinates,
          current_filter: @current_projekts_order,
          filters: @active_projekts_orders,
          hide_title: true
          ) %>
      </div>
    </div>

    <div class="sidebar">
      <%= render Shared::SidebarCardComponent.new(title: t("custom.common.information"), icon_name: "info-circle") do |c| %>
        <%= render_custom_block "projekt_overview_page_sidebar", default_content: t("custom.projekts.index.information_default_text") %>

        <div class="proposals--info-count margin-bottom-half">
          <span>
            <%= t("custom.projekts.index.count") %>
          </span>
          <span>
            <%= @all_projekts.count %>
          </span>
        </div>
      <% end %>

      <%= render Sidebar::Filters::GeozoneAffiliationsCardComponent.new(geozones: @geozones, resource_name: @resource_name, selected_affiliated_geozones: @affiliated_geozones) %>
      <%= render Sidebar::CategoriesCardComponent.new(categories: @categories) %>
      <%= render Sidebar::SdgsCardComponent.new(sdgs: @sdgs, sdg_targets: @sdg_targets) %>
    </div>
  </div>

  <%= paginate @projekts %>

  <% if @show_comments && current_user.present? %>
    <div class="tabs-content margin-top" data-tabs-content="proposals_tabs">
      <div class="tabs-panel is-active" id="tab-comments">
        <%= render Shared::CommentsComponent.new(@commentable, @comment_tree) do %>
          <h3>
            <%= t("debates.show.comments_title") %>
            <span class="js-comments-count">(<%= @commentable.comments_count %>)</span>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="column show-on-mobile projekt-mobile-share-buttons">
      <%= render "shared/social_share",
          share_title: t("custom.pages.social_share.share"),
          title: t("custom.projekts.index.social_share.title"),
          url: url_for(only_path: false),
          description: t("custom.projekts.index.social_share.description", domain: request.domain),
          mobile: t("custom.projekts.index.social_share.description", domain: request.domain)
      %>
    </div>
  </div>
</main>
