<%= render "shared/globalize_locales", resource: question %>

<%= translatable_form_for(question, url: url) do |f| %>

  <%= render "shared/errors", resource: question %>

  <%= f.hidden_field :proposal_id %>

  <div class="row">
    <div class="small-12">
      <% if question.poll.present? %>
        <%= f.hidden_field :poll_id, value: question.poll.id %>
      <% else %>
        <div class="small-12 medium-6 large-4 column">
          <%= f.select :poll_id,
                        options_for_select(select_options),
                        prompt: t("admin.questions.index.select_poll"),
                        hint: t("admin.questions.form.poll_help") %>
        </div>
      <% end %>
    </div>
  </div>

  <% unless bundle_question? %>
    <div class="row">
      <div class="small-12">
        <%= f.fields_for :votation_type do |votation_f| %>
          <%= render Admin::VotationTypes::FieldsComponent.new(form: votation_f) %>
        <% end %>
      </div>
    </div>

    <% unless nested_question? %>
      <div class="row" style='margin-bottom:2rem;'>
        <div class="column small-12">
          <%= f.check_box :show_hint_callout %>
        </div>
      </div>
    <% end %>

    <% if nested_question? %>
      <%= f.hidden_field :parent_question_id, value: (params[:parent_question_id].presence || f.object.parent_question_id) %>
    <% end %>
  <% end %>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="column">
        <%= translations_form.text_field :title %>
      </div>
    </div>

    <% unless params[:parent_question_id].present? %>
      <div class="row">
        <div class="column">
          <%= translations_form.text_area :description,
            class: "html-area #{ck_editor_class(current_user)}" %>
        </div>
      </div>
    <% end %>

    <div class="row rating-scale-labels <%= hide_rating_scale_labels_class(question.votation_type.vote_type) %>">
      <div class="column medium-6">
        <%= translations_form.label :min_rating_scale_label, t("activerecord.attributes.poll/question.min_rating_scale_label") %>
        <%= translations_form.text_field :min_rating_scale_label, label: false %>
      </div>
      <div class="column medium-6">
        <%= translations_form.label :min_rating_scale_label, t("activerecord.attributes.poll/question.max_rating_scale_label") %>
        <%= translations_form.text_field :max_rating_scale_label, label: false %>
      </div>
    </div>
  <% end %>

  <% if bundle_question? %>
    <%= f.hidden_field :bundle_question, value: true %>
  <% end %>

  <% unless bundle_question? %>
    <div class="row">
      <div class="small-12 column">
        <%= f.check_box :show_images, label: t('custom.admin.polls.questions.show_images') %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-4 large-2 margin-top column">
      <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
    </div>
  </div>
<% end %>
