<% MapLayer.general.each do |layer| %>
  <%= render partial: "custom/admin/shared/map/map_layer", locals: { layer: layer, return_path: "/admin/projekts#tab-projekt-map" } %>
<% end %>

<div id='new-map-layer'>
  <%= link_to t("custom.map_layer.buttons.new_layer"), new_admin_map_layer_path(return_path: "/admin/projekts#tab-projekt-map", mappable_id: @projekt.id, mappable_type: @projekt.class.name), class: "button success margin-bottom", remote: true %>
</div>

<h2><%= t("admin.settings.index.map.title") %></h2>

<%= render "admin/settings/settings_table", settings: @map_configuration_settings, setting_name: "setting", tab: "#tab-projekts-map" %>

<p><%= t("admin.settings.index.map.help") %></p>

<%= render "admin/settings/map_form" %>
