<div class="projekt-livestream-container">
  <div class="projekt-livestream-video">
    <h3 class="projekt-actual-livestream">
      <%= t('custom.projekts.projekt_livestreams.current_livestream') %>
    </h3>
    <%=
      render(
        Shared::ExternalVideoPlayer.new(
          url: @current_projekt_livestream.url,
          width: 800,
          height: 480
        )
      )
    %>
    <div class="projekt-livestream--details">
      <% if @current_projekt_livestream.title.present? %>
        <h3 class="projekt-livestream--title">
          <%= @current_projekt_livestream.title %>
        </h3>
      <% end %>
      <% if @current_projekt_livestream.description.present? || @current_projekt_livestream.starts_at.present? %>
        <div class="projekt-livestream--description">
          <% if @current_projekt_livestream.starts_at.present? %>
            <span class="projekt-livestream--description-starts-at">
              <%= @current_projekt_livestream.starts_at.strftime("%H:%M %d.%m.%Y") %>
            </span>
          <% end %>

          <% if @current_projekt_livestream.description.present? %>
            <%= render Shared::CollapseTextComponent.new(color: :white) do |component| %>
              <% component.inner_content do %>
                <span class="projekt-livestream--description-text">
                  <%= WYSIWYGSanitizer.new.sanitize(@current_projekt_livestream.description) %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="js-livestream-livequestion projekt-livestream-livequestion" data-enabled="true" data-url="<%= new_questions_projekt_livestream_path(@current_projekt_livestream.id, current_projekt_question_id: @current_projekt_livestream&.projekt_questions&.first, most_recent_question_id: @current_projekt_livestream.projekt_questions&.last&.id) %>">
      </div>
      <div class="projekt-questions-container projekt-question-embed js-projekt-questions-container">
        <% if @current_projekt_livestream.projekt_questions.any? %>
          <% projekt_question = @current_projekt_livestream.projekt_questions.first %>
          <% projekt_question_answer = projekt_question&.answer_for_user(helpers.current_user) || ProjektQuestionAnswer.new %>
          <%= render ProjektQuestions::ProjektQuestionComponent.new(projekt_question, projekt_question_answer: projekt_question_answer) %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @other_livestreams.size > 1 %>
    <div class="projekt-livestream--navigation">
      <h3 class="projekt-livestream-navigation--title">
        <i class="fas fa-play"></i>
        <%= t('custom.projekts.projekt_livestreams.links_title') %>
      </h3>
      <div class="projekt-livestream-navigation--links">
        <% @other_livestreams.each do |other_livestream| %>
          <% if other_livestream.title.present? %>
            <%=
              link_to(
                truncate(other_livestream.title, length: 70),
                projekt_livestream_path(other_livestream.id),
                class: (other_livestream.id == @current_projekt_livestream.id ? 'is-active' : nil),
                remote: true
              )
            %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
