<div class="sidebar-resource-author sidebar-card">
  <div class="sidebar-resource-author--background-image">
    <% if show_background_image? %>
      <%= image_tag(user.background_image.variant(resize: "300x300>")) %>
    <% end %>
  </div>
  <div class="sidebar-resource-author--info">
    <%= link_to author_path, class: "sidebar-resource-author--avatar" do %>
      <% if show_user_avatar? %>
        <%= image_tag(user.image&.variant(:popup)) %>
      <% else %>
        <div class="sidebar-resource-author--avatar-placeholder">
          <%= resource.author_initial %>
        </div>
      <% end %>
    <% end %>

    <%= link_to author_path do %>
      <div class="sidebar-resource-author--name <%= 'margin-bottom' if on_behalf_of? %>">
        <%= resource.author_name %>
      </div>
    <% end %>

    <% unless on_behalf_of? %>
      <div class="sidebar-resource-author--registration-date">
        <%= t("custom.users.banner.registered_at", date: l(user.created_at, format: :date_only)) %>
      </div>

      <div class="users-profile-banner--info-line">
        <% unless skip_user_verification? %>
          <% if user.level_three_verified? %>
            <span class="icon-check"></span>
            <%= t("account.show.verified_account") %>
          <% else %>
            <%= t("custom.account.show.not_verified_account") %>
          <% end %>
        <% end %>
      </div>

      <div class="sidebar-resource-author--resources">
        <% if user.proposals.exists? %>
          <%= link_to user_path(user), class: "sidebar-card--count-line" do %>
            <div>
              Vorschläge
            </div>
            <div>
              <%= user.proposals.count %>
            </div>
          <% end %>
        <% end %>

        <% if user.debates.exists? %>
          <%= link_to user_path(user), class: "sidebar-card--count-line" do %>
            <div class="sidebar-resource-author--resources-name">
              Diskussionen
            </div>
            <div class="sidebar-resource-author--resources-count">
              <%= user.debates.count %>
            </div>
          <% end %>
        <% end %>

        <% if user.comments.exists? %>
          <%= link_to user_path(user), class: "sidebar-card--count-line" do %>
            <div class="sidebar-resource-author--resources-name">
              Kommentare
            </div>
            <div class="sidebar-resource-author--resoures-count">
              <%= user.comments.count %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
