<div id="<%= dom_id(question) %>" class="poll-question">
  <h3 class="poll-question--title">
    <%= question.title %>
  </h3>

  <p class="poll-question--description">
  <%= auto_link_already_sanitized_html wysiwyg(question.description) %>
  </p>

  <% if question.show_hint_callout? && question.votation_type.present? && !question.bundle_question? %>
    <div class="callout primary">
      <%= t("poll_questions.description.#{question.vote_type}", maximum: question.max_votes) %>
    </div>
  <% end %>

  <div class="padding">
    <div id="<%= dom_id(question) %>_answers" class="">
      <%= render Polls::Questions::AnswersComponent.new(question) %>
    </div>

    <% question.nested_questions.each do |nested_question| %>
      <div class="poll-question--nested-question <%= nested_question.votation_type.rating_scale? ? "-rating-scale" : "" %>">
        <div class="poll-question--nested-question-title">
          <%= nested_question.title %>
        </div>
        <div id="<%= dom_id(nested_question) %>_answers" class="">
          <%= render Polls::Questions::AnswersComponent.new(nested_question) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
