<div id="<%= dom_id(question) %>" class="poll-question">
  <h3>
    <%= question.title %>
  </h3>

  <p>
    <%= auto_link_already_sanitized_html wysiwyg(question.description) %>
  </p>

  <% if question.show_hint_callout? && question.votation_type.present? %>
    <div class="callout primary">
      <%= t("poll_questions.description.#{question.vote_type}", maximum: question.max_votes) %>
    </div>
  <% end %>

  <div id="<%= dom_id(question) %>_answers" class="padding">
    <%= render Polls::Questions::AnswersComponent.new(question) %>
  </div>
</div>
