<td style="padding-bottom: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.notification_service_mailers.overdue_deficiency_reports.hi") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <% if @overdue_reports.count == 1 %>
      <%= t("custom.notification_service_mailers.overdue_deficiency_reports.p1_s") %>
    <% else %>
      <%= t("custom.notification_service_mailers.overdue_deficiency_reports.p1_p") %>
    <% end %>
  </p>

  <ul>
    <% @overdue_reports.each do |report| %>
      <li>
        <%= link_to report.title, deficiency_report_url(report) %>
      </li>
    <% end %>
  </ul>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("custom.notification_service_mailers.overdue_deficiency_reports.signature_html") %>
  </p>
</td>
