<ul class="tabs"
    id="proposals_tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>
  <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.show_comments") %>
    <li class="tabs-title <%= 'is-active' if default_active_proposal_footer_tab?('comments') %>">
      <%= link_to "#tab-comments" do %>
        <h3>
          <%= t("proposals.show.comments_tab") %>
          <span class="js-comments-count">(<%= @proposal.comments_count %>)</span>
        </h3>
      <% end %>
    </li>
  <% end %>

  <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_notifications_tab") %>
    <li class="tabs-title <%= 'is-active' if default_active_proposal_footer_tab?('notifications') %>">
      <%= link_to "#tab-notifications" do %>
        <h3>
          <%= t("proposals.show.notifications_tab") %>
          (<%= @notifications.count %>)
        </h3>
      <% end %>
    </li>
  <% end %>

  <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_milestones_tab") %>
    <li class="tabs-title <%= 'is-active' if default_active_proposal_footer_tab?('milestones') %>">
      <%= link_to "#tab-milestones" do %>
        <h3>
          <%= t("proposals.show.milestones_tab") %>
          (<%= @proposal.milestones.count %>)
        </h3>
      <% end %>
    </li>
  <% end %>
</ul>
