<main>
  <h1>
    <%= t("custom.proposals.index.title") %>
  </h1>
  <div class="flex-column">
    <div class="main-column">
      <% if controller_name == 'proposals' %>
        <% if extended_feature?("proposals.intro_text_for_proposals") %>
          <div class="resource-page--intro-text">
            <%= render_custom_block('proposals_index_welcome', default_content: t("custom.proposals.index.welcome_default_text_html")) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="flex-layout">
    <div class="main-column">
      <%= render(
        Shared::ResourcesListComponent.new(
          resources: @proposals,
          resource_type: Proposal,
          map_coordinates: @proposals_coordinates,
          current_filter: @current_order,
          filter_param: "order",
          text_search_enabled: true,
          filters: @valid_orders,
          empty_list_text: "Keine Ergebnisse")) %>
    <%= paginate @proposals %>
    </div>

    <div id="proposals-sidebar" class="sidebar">

      <%= render Shared::SidebarCardComponent.new(title: t('custom.common.information'), icon_name: "info-circle") do |c| %>
        <div class="margin-bottom-half">
          <%= render_custom_block 'projekt_overview_page_sidebar', default_content: t("custom.proposals.index.sidebar_information_default_text")  %>
        </div>
        <div class="proposals--info-count margin-bottom-half">
          <span>
            <%= t('custom.proposals.index.count') %>
          </span>
          <span>
            <%= @all_resources.count %>
          </span>
        </div>

        <%= render Shared::NewButtonComponent.new(resources_name: "proposals", query_params: params) %>
      <% end %>

      <%= render Sidebar::ProjektsFilterComponent.new(
        top_level_active_projekts: @top_level_active_projekts,
        top_level_archived_projekts: @top_level_archived_projekts,
        scoped_projekt_ids: @scoped_projekt_ids,
        all_resources: @all_resources,
        current_tab_phase: @current_tab_phase,
        current_projekt: @current_projekt
      ) %>

    <%= render Sidebar::GeozoneAffiliationsCardComponent.new(geozones: @geozones, resource_name: @resource_name) %>
    <% if current_user.present? && extended_feature?('proposals.enable_my_posts_filter') %>
      <%= render Sidebar::MyPostsCardComponent.new %>
    <% end %>
    <% if current_user&.administrator? %>
      <%= render Shared::SidebarCardComponent.new(title: "Export", icon_name: "tag") do |c| %>
        <%= link_to t("custom.proposals.index.download_current_selection"),
          admin_proposals_path(**request.query_parameters, format: :csv),
          format: :csv,
          target: "_blank" %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% provide :title do %><%= t("proposals.index.title") %><% end %>
</main>
