<%= content_for :body_class, "proposals-show" %>
<% preview = false unless local_assigns.has_key? :preview %>
<% provide :title do %><%= @proposal.title %><% end %>
<% content_for :meta_description do %>
  <%= projekt_feature?(@proposal.projekt, 'proposals.enable_summary') ? @proposal.summary : strip_tags(@proposal.description)[0..200] %>
<% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
    social_url: proposal_url(@proposal),
    social_title: @proposal.title,
    social_description: projekt_feature?(@proposal.projekt, 'proposals.enable_summary') ? @proposal.summary : strip_tags(@proposal.description)[0..200],
    twitter_image_url: (@proposal.image.present? ? polymorphic_path(@proposal.image) : nil),
    og_image_url: (@proposal.image.present? ? polymorphic_path(@proposal.image) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<main class="resource-page">
  <div id="<%= dom_id(@proposal) %>" >
    <div class="flex-layout">
      <div class="main-column">
        <%= resources_back_link(fallback_path: proposals_path) %>

        <!-- <h1 class="resource-page--title"><%= "#{@proposal.author.name} startet eine Diskussion"  %></h1> -->
        <h1 class="resource-page--title"><%= "Beitrag von #{@proposal.author.name}" %></h1>
        <div class="common-page-description">
          <%= render_custom_block('debate_show_welcome_text', default_content: t('custom.proposals.show.welcome_default_text', author: @proposal.author.name)) %>
        </div>

        <% if @proposal.conflictive? %>
          <div data-alert class="callout alert margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>

      </div>
      <div class="sidebar-placeholder"></div>
    </div>

    <div class="flex-layout">
      <div class="main-column">
        <%= render ResourcePage::BannerComponent.new(resource: @proposal)  %>

        <div class="resource-page--description new-card">
          <%= auto_link_already_sanitized_html wysiwyg(@proposal.description) %>
        </div>

        <% if projekt_phase_feature?(@proposal.projekt_phase, "form.show_map") && map_location_available?(@proposal) %>
          <% if @proposal.projekt.vc_map_enabled? %>
            <div class="margin-bottom not-print">
              <%= render Shared::VCMapComponent.new(
                mappable: @proposal,
                map_location: @proposal.map_location || @proposal.projekt_phase.map_location_with_admin_shape,
                parent_class: "proposal",
                projekt_phase: @proposal.projekt_phase,
                show_admin_shape: @proposal.projekt_phase.map_location.show_admin_shape?
              ) %>
            </div>
          <% else %>
            <div class="margin-bottom not-print">
              <%= render Shared::MapComponent.new(
                mappable: @proposal,
                map_location: @proposal.map_location || @proposal.projekt_phase.map_location_with_admin_shape,
                parent_class: "proposal",
                projekt_phase: @proposal.projekt_phase,
                show_admin_shape: @proposal.projekt_phase.map_location.show_admin_shape?
              ) %>
            </div>
          <% end %>
        <% end %>

        <% if @proposal.video_url.present? %>
          <div class="video-link not-print">
            <p>
            <span class="icon-video"></span>&nbsp;
            <strong><%= t("proposals.show.title_video_url") %></strong>
            </p>
            <br>
            <div class="small-12 medium-10 large-7 small-centered">
              <div class="flex-video">
                <div id="js-embedded-video" data-video-code="<%= embedded_video_code(@proposal) %>"></div>
              </div>
              <div class='text-center'>
                <%= sanitize_and_auto_link @proposal.video_url %>
              </div>
            </div>
          </div>
        <% end %>

        <% if projekt_feature?(@proposal.projekt, 'proposals.show_related_content') %>
          <%= render "relationable/related_content", relationable: @proposal %>
        <% end %>

        <div id="comments" class="footer-anchor">
        </div>
        <% if ((projekt_phase_feature?(@proposal.projekt_phase, "resource.show_comments") ||
            projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_notifications_tab") ||
            projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_milestones_tab")) && !preview) %>

          <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_notifications_tab") %>
            <div class="mb-20">
              <%= render Proposals::NotificationsComponent.new(notifications: @notifications, author: @proposal.author) %>
            </div>
          <% end %>

          <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.enable_proposal_milestones_tab") %>
            <div class="mb-20">
              <%= render Proposals::MilestonesComponent.new(milestones: @milestones, milestoneable: @proposal) %>
            </div>
          <% end %>

          <% if projekt_phase_feature?(@proposal.projekt_phase, "resource.show_comments") %>
            <div class="mb-20">
              <%= render Shared::NewCommentsComponent.new(@proposal, @comment_tree) %>
            </div>
          <% end %>
        <% end %>
      </div>

      <aside class="sidebar">
        <%= render Sidebar::ResourceAuthorComponent.new(user: @proposal.author) %>

        <% if projekt_feature?(@proposal&.projekt, 'proposals.allow_voting') %>
          <%= render(Shared::SidebarCardComponent.new(title: "Unterstützer*innen", icon_name: "tag")) do |c| %>
            <div class="proposal-page--votes">
              <%= render "proposals/support_status", proposal: @proposal %>
            </div>
          <% end %>
        <% end %>

        <% if projekt_feature?(@proposal&.projekt, 'proposals.show_community_button_in_proposal_sidebar') %>
          <%= render(Shared::SidebarCardComponent.new(title: t("community.sidebar.title"), icon_name: "tag")) do |c| %>
            <%= render "communities/access_button", community: @proposal.community %>
          <% end %>
        <% end %>

        <% if current_user && projekt_feature?(@proposal&.projekt, 'proposals.show_follow_button_in_proposal_sidebar') %>
          <%= render(Shared::SidebarCardComponent.new(title: t("shared.follow"), icon_name: "tag")) do |c| %>
            <p><%= t("custom.shared.show.follow_text") %></p>
            <%= render "follows/follow_button", follow: find_or_build_follow(current_user, @proposal) %>
          <% end %>
        <% end %>

        <% if @proposal.tags.present? %>
          <%= render(Shared::SidebarCardComponent.new(title: "Tags", icon_name: "tag")) do |c| %>
            <%= render "shared/tags", taggable: @proposal, limit: 5 %>
          <% end %>
        <% end %>

        <%= render(Shared::SidebarCardComponent.new(title: t("proposals.show.share"), icon_name: "share-alt")) do |c| %>
          <%= render "shared/social_share",
            share_title: t("proposals.show.share"),
            title: @proposal.title,
            url: debate_url(@proposal),
            description: @proposal.title,
            mobile: @proposal.title
          %>
        <% end %>

        <% if current_user && projekt_feature?(@proposal.projekt, 'proposals.show_related_content') %>
          <%= render(Shared::SidebarCardComponent.new(title: t("custom.shared.show.related_title"), icon_name: "share-alt")) do |c| %>
            <p><%= t("custom.shared.show.related_text") %></p>
            <%= link_to '#related_content', data: {toggle: "related_content"}, id: "add-related-content", class: "button hollow expanded" do %>
              <%= t("custom.shared.show.related_button") %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_user.present? && current_user.administrator? %>
          <%= render(Shared::SidebarCardComponent.new(title: t("custom.shared.show.admin"), icon_name: "cog")) do |c| %>
            <div class="js-moderator-proposal-actions">
              <%= render "actions", proposal: @proposal %>
            </div>
          <% end %>
        <% end %>

        <% if @proposal.editable_by?(current_user) %>
          <%= render(Shared::SidebarCardComponent.new(title: t("proposals.show.author"), icon_name: "tag")) do |c| %>
            <% if can?(:dashboard, @proposal) %>
              <%= link_to proposal_dashboard_path(@proposal),
                class: "button hollow expanded",
                id: "proposal-dashboard-#{@proposal.id}" do %>
                <span class="icon icon-edit"></span>
                <%= t("proposals.show.dashboard_proposal_link") %>
              <% end %>
            <% end %>

            <% if current_editable?(@proposal) %>
              <%= link_to t("dashboard.index.edit_proposal_link"),
                edit_proposal_path(@proposal),
                target: "_blank",
                class: "button hollow expanded" %>
            <% end %>

            <% unless @proposal.retired? %>
              <%= link_to t("dashboard.index.retire"),
                retire_form_proposal_path(@proposal),
                class: "button hollow alert",
                target: "_blank" %>
            <% end %>

            <% if can?(:publish, @proposal) %>
              <%= link_to t("dashboard.index.publish"),
                publish_proposal_path(@proposal),
                class: "button hollow expanded",
                method: :patch %>
            <% end %>
          <% end %>
        <% end %>
      </aside>
    </div>
  </div>
</main>
