<%= translatable_form_for @sentiment, url: polymorphic_path([@namespace, @projekt_phase, @sentiment]) do |f| %>
  <%= render "shared/errors", resource: @sentiment %>
  <%= render "shared/globalize_locales", resource: @sentiment %>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="small-12 medium-6 large-4 column">
        <%= translations_form.text_field :name %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 large-4 column">
      <%= f.text_field :color, placeholder: t("custom.admin.projekt_phases.sentiments.form.color_placeholder") %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.submit class: "button success" %>
    </div>
  </div>
<% end %>
