<% if investment.unfeasible? %>
  <div class="callout alert">
    <%= t("custom.budgets.investments.investment.unfeasible_html") %>
  </div>

<% elsif investment.budget.phase.in?(['accepting', 'valuating', 'reviewing_ballots']) %>
  <div class="callout warning">
    <%= t("custom.budgets.investments.statuses.phases.#{investment.budget.phase}") %>
  </div>

<% elsif investment.budget.phase == 'reviewing' %>
  <% if investment.undecided? || !investment.valuation_finished? %>
    <div class="callout warning">
      <%= t("custom.budgets.investments.statuses.phases.reviewing") %>
    </div>
  <% elsif investment.feasible? %>
    <div class="callout success">
      <%= t("custom.budgets.investments.investment.feasible_html") %>
    </div>
  <% end %>

<% elsif investment.undecided? && investment.budget.phase == 'selecting' %>
  <div class='callout warning'>
    <%= t("custom.budgets.investments.show.callouts.#{investment.budget.phase}.#{investment.feasibility}") %>
  </div>

<% elsif investment.undecided? && investment.budget.phase == 'publishing_prices' %>
  <div class='callout warning'>
    <%= t("custom.budgets.investments.show.callouts.#{investment.budget.phase}.#{investment.feasibility}") %>
  </div>

<% elsif investment.unfeasible? && investment.budget.phase == 'publishing_prices' && controller_name != 'investments' %>
  <div class='callout warning'>
    <%= t("custom.budgets.investments.show.callouts.#{investment.budget.phase}.#{investment.feasibility}") %>
  </div>
<% end %>
