<%= form_for(livestream, url: url) do |f| %>
  <%= hidden_field_tag :namespace, @namespace %>

  <%= render "shared/errors", resource: f.object %>

  <% if @projekt.livestream_phases.count == 1 %>
    <%= f.hidden_field :projekt_phase_id, value: @projekt.livestream_phases.first.id %>
  <% else %>
    <div class='small-12 medium-10'>
      <%= f.label :projekt_phase_id, t("custom.admin.projekts.edit.projekt_livestreams_tab.phases_label") %>
      <div class="d-flex">
        <% @projekt.livestream_phases.each.with_index(1) do |livestream_phase, index| %>
          <div class="d-flex d-flex-start margin-right">
            <%= f.radio_button :projekt_phase_id, livestream_phase.id, label: false, required: true, id: "projekt_livestream_phase_#{livestream_phase.id}" %>
            <%= f.label "phase_#{livestream_phase.id}",
              "#{livestream_phase.phase_tab_name.presence || t("custom.admin.projekts.edit.projekt_livestreams_tab.name")} (#{livestream_phase.name} #{index})" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='small-12 medium-7'>
    <%= f.text_field :url, { id: dom_id(livestream, :url), label: t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.url"), required: true } %>
  </div>

  <% if livestream.persisted? %>
    <div class='small-12 medium-7'>
      <%= f.text_field :title, { id: dom_id(livestream, :title), label: t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.title") } %>
    </div>

    <div class='small-12 medium-7'>
      <%= f.label :starts_at, t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.starts_at"), for: dom_id(livestream, :starts_at) %>
      <%= f.datetime_field :starts_at, { id: dom_id(livestream, :starts_at), label: false } %>
    </div>

    <div class='small-12 medium-12'>
      <%= f.text_area :description, { id: dom_id(livestream, :description), label: t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.description") } %>
    </div>
  <% end %>

  <%= f.hidden_field :tab, value: "#tab-projekt-livestreams" %>

  <div>
    <%= f.submit(class: "button") %>
  </div>
<% end %>
