<div class='small-12 medium-7 projekt-livestream' id="<%= dom_id(livestream) %>">
  <%= check_box_tag "edit_projekt_event_#{dom_id(livestream)}" %>
  <%= label_tag nil, nil, for: "edit_projekt_event_#{dom_id(livestream)}", class: "admin-edit-icon-button admin-edit-icon-button-livestream" %>
  <%= link_to "", admin_projekt_projekt_livestream_path(@projekt, livestream, namespace: @namespace), method: :delete, class: "admin-delete-icon-button admin-delete-icon-button-livestream" %>

  <div class='projekt-livestream-content'>
    <% if livestream.from_youtube? %>
      <%= image_tag("https://img.youtube.com/vi/#{livestream.external_id}/hqdefault.jpg", referrerpolicy: "no-referrer") %>
    <% elsif livestream.from_vimeo? && livestream.preview_image_url.present? %>
      <%= image_tag(livestream.preview_image_url, referrerpolicy: "no-referrer") %>
    <% end %>

    <p>
      <strong><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.url") %>:</strong>
      <%= link_to(livestream.url, livestream.url) %>
    </p>
    <% if livestream.title.present? %>
      <p>
        <strong><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.title") %>:</strong>
        <%= livestream.title %>
      </p>
    <% end %>
    <p>
      <strong><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.platform") %>:</strong>
      <%= livestream.platform_formated %>
    </p>
    <p>
    <% if livestream.starts_at.present? %>
      <p>
        <strong><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.starts_at") %>:</strong>
        <%= livestream.starts_at&.strftime("%d.%m.%y %H:%m") %>
      </p>
    <% end %>
    <% if livestream.description.present? %>
      <p>
        <strong><%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.description") %>:</strong>
        <%= truncate(livestream.description, length: 500) %>
      </p>
    <% end %>
  </div>

  <div class='edit-projekt-livestream-form'>
    <%= render partial: "custom/admin/projekts/edit/projekt_livestreams/form", locals: { url: admin_projekt_projekt_livestream_path(@projekt, livestream), projekt: @projekt, livestream: livestream } %>
  </div>

  <%= link_to t("custom.admin.projekts.edit.projekt_livestreams_tab.send_notifications_button"), send_notifications_admin_projekt_projekt_livestream_path(@projekt.id, livestream.id, params: { projekt_argument: { namespace: @namespace }}), method: :post, class: "margin-right" %>

  <% if livestream.projekt_questions.any? %>
    <h3 class="admin-projekt-livestream-projekt-questions-title">
      <%= t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.questions") %>
    </h3>
  <% end %>

  <% livestream.projekt_questions.each do |projekt_question| %>
    <div class="admin-projekt-livestream-projekt-question margin-bottom">
      <div class="admin-projekt-livestream-projekt-question--inner">
        <h4>
          <%= projekt_question.title %>
          <div class="admin-projekt-livestream-projekt-question--actions">
            <%= link_to "", edit_projekt_question_path(@projekt, projekt_question), class: "admin-edit-icon-button" %>
            <%= link_to "", admin_projekt_projekt_question_path(@projekt, projekt_question, namespace: @namespace), method: :delete, class: "admin-delete-icon-button" %>
          </div>
        </h4>
        <% projekt_question.question_options.each do |question_option| %>
          <li class="admin-projekt-question-livestream-option">
            <%= question_option.value %>:
            <%= question_option.answers.count %>
          </li>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to t("custom.admin.projekts.edit.projekt_livestreams_tab.livestream.add_question"), new_projekt_question_path(@projekt.id, projekt_livestream_id: livestream.id), class: "button" %>
  <hr>
</div>
