<%= form.label :map_location, label %>
<p class="help-text" id="tag-list-help-text"><%= help %></p>

<% mappable = @proposal || @deficiency_report || @investment || nil %>

<% if mappable.present?  && !mappable.respond_to?(:projekt) %>
  <%= render Shared::MapComponent.new(
    mappable: mappable,
    map_location: map_location,
    parent_class: parent_class,
    editable: true
  ) %>

<% elsif mappable.present? && mappable.map_location.present? %>
  <%= render Shared::MapComponent.new(
    mappable: mappable,
    map_location: map_location,
    parent_class: parent_class,
    editable:	true,
    projekt: projekt,
    show_admin_shape: projekt&.map_location&.show_admin_shape?
  ) %>
<% else %>
  <%= render Shared::MapComponent.new(
    mappable: mappable,
    map_location: map_location,
    parent_class: parent_class,
    editable: true,
    projekt: projekt,
    show_admin_shape: projekt&.map_location&.show_admin_shape?
  ) %>
<% end %>

<%= form.fields_for :map_location, map_location do |m_l_fields| %>
  <%= m_l_fields.hidden_field :id,
                              value: map_location.id,
                              id: map_location_input_id(parent_class, "id") %>
  <%= m_l_fields.hidden_field :latitude,
                              value: map_location.latitude,
                              id: map_location_input_id(parent_class, "latitude") %>
  <%= m_l_fields.hidden_field :longitude,
                              value: map_location.longitude,
                              id: map_location_input_id(parent_class, "longitude") %>
  <%= m_l_fields.hidden_field :zoom,
                              value: map_location.zoom,
                              id: map_location_input_id(parent_class, "zoom") %>
  <%= m_l_fields.hidden_field :shape,
                              value: map_location.shape,
                              id: map_location_input_id(parent_class, "shape") %>
<% end %>
