<div class='projekt-bar column'>
  <div class='projekt-name'>
    <% if resource.projekt_phase.projekt.overview_page? %>
      <%= t("custom.projekts.overview_page.projekt_name_for_proposal") %>
    <% else %>
      <%= breadcrumbs_links(resource.projekt_phase.projekt, ">", false) %>
    <% end %>
  </div>

  <div class='show-for-large'>
    <% if ( action_name == 'index' && controller_name.in?(['proposals', 'debates', 'polls', 'investments', 'welcome'])) ||
          ( controller_name == 'pages' || controller_name == 'projekts') %>

      <% if resource.respond_to?(:on_behalf_of) && resource.on_behalf_of.present? %>
        <%= resource.on_behalf_of %>
      <% elsif resource.author.name.present? %>
        <% if resource.author.display_official_position_badge? %>
          <%= render Shared::OfficialPositionBadgeComponent.new(user: resource.author) %>
          &nbsp;&bull;&nbsp;
        <% end %>
        <%= link_to_profile_page_for(resource.author) %>
      <% end %>

      <% if resource.class.name == "Proposal" %>
        <%= render partial: "proposals/proposal/participation_label", locals: { proposal: resource } %>
      <% end %>

    <% elsif action_name == 'show' && controller_name.in?(['proposals', 'debates', 'polls', 'investments']) && resource.projekt_phase.projekt.page.published? %>
      <%= link_to t("custom.shared.show.back_link", resources: resource.model_name.human(count: 2)), page_path(resource.projekt_phase.projekt.page.slug) %>

    <% end %>
  </div>
</div>
