<% top_level_projekts = Projekt.top_level %>

<%= f.hidden_field :projekt_id %>
<%= f.hidden_field :projekt_phase_id %>

<% if model.errors.details[:projekt_id].any? %>
  <% model.errors.details[:projekt_id].each do |error| %>
    <small class='form-error is-visible'>
      <%= t("activerecord.errors.models.#{model.model_name.param_key}.attributes.projekt_id.#{error[:error]}") %>
    </small>
  <% end %>
<% end %>

<div id='projekt-selector-fields' class=''>
  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' data-target='#group-for-0' tabindex='0' >

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
        <%= t('custom.projekts.selector.select_placeholder_mandatory_html') %>
      </div>
    </div>

    <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: top_level_projekts.selectable_in_selector(controller_name, current_user), parent_id: 0, resource: model } %>

  </div>

  <div class='spacer'>
    <i class="fas fa-chevron-right"></i>
  </div>

  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' tabindex='0'>

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
      </div>
    </div>

    <% top_level_projekts.each do |projekt|  %>
      <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: projekt.children.selectable_in_selector(controller_name, current_user), parent_id: projekt.id, resource: model } if projekt.children.selectable_in_selector(controller_name, current_user).any? %>
    <% end %>
  </div>

  <div class='spacer'>
    <i class="fas fa-chevron-right"></i>
  </div>

  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' tabindex='0'>

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
      </div>
    </div>

    <% top_level_projekts.each do |projekt|  %>
      <% projekt.children.each do |projekt| %>
        <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: projekt.children.selectable_in_selector(controller_name, current_user), parent_id: projekt.id, resource: model  } if projekt.children.selectable_in_selector(controller_name, current_user).any? %>
      <% end %>
    <% end %>
  </div>
</div>
<p>
Bitte ordnen Sie Ihren Beitrag einer Projektphase zu:
</p>

<div id='projekt-phase-selector-fields' class=''>
  <% Projekt.regular.selectable_in_selector(controller_name, current_user).each do |projekt| %>
    <%= render partial: "shared/projekt_selector/projekt_phase_group", locals: { projekt: projekt, resource: model } %>
  <% end %>
</div>
