<div class='projekt js-select-projekt js-prevent-key-scroll vertical-align'
     id="<%= dom_id(projekt) %>"
     tabindex="0"
     aria-labeled-by="<%= "#{dom_id(projekt)}_name" %>"
     data-projekt-id="<%= projekt.id %>"
     <%= "data-parent-id=#{projekt.parent.id}" if projekt.parent.present? %>
     <%= "data-projekt-selectable=true" if projekt.can_assign_resources?(controller_name, current_user) %>
     <%= "data-projekt-selectable-children=true" if projekt.children.selectable_in_selector(controller_name, current_user).any? %>>

  <div class='projekt-icon'>
    <i class="fas fa-<%= projekt.icon || "circle" %>" style="color:<%= projekt.color %>"></i>
  </div>

  <div class='projekt-details'>
    <div class='projekt-name' id="<%= "#{dom_id(projekt)}_name" %>">
      <%= projekt.name_for_resource_creation(resource) %>
    </div>
  </div>
</div>
