<div class="reveal statistic-cookie-modal" id='statistic-cookie-modal' data-reveal data-statistic-cookie-enabled="<%= helpers.current_user&.custom_statistic_cookies_enabled %>">
  <h2>
    Cookie Einstellungen
  </h2>
  <div class="statistic-cookie-modal--text">
    <p>
      Um Ihnen die Informationen und den Komfort dieser Seite weiterhin zur
      Verfügung stellen zu können, brauchen wir Ihre Zustimmung für die
      Verwendung von Cookies für die aufgeführten Zwecke. Bitte beachten Sie,
      dass auf Basis individueller Einstellungen womöglich nicht mehr alle
      Funktionen der Seite zur Verfügung stehen.
    </p>
    <p>
    Sie können Ihre Entscheidung jederzeit ändern, indem Sie die Einstellungen in Ihrem <a href="<%= account_path %>">Konto</a> ändern.
    </p>
  </div>

  <div class="row statistic-cookie-modal--option-row">
    <div class="row statistic-cookie-modal--option-input">
      <%= check_box_tag 'accept-cookies-disabled', nil, true, disabled: true %>
      <%= label_tag 'accept-cookies-disabled', 'Essenzielle Cookies' %>
    </div>
    <div class="statistic-cookie-modal--option-caption">
     Um die Funktionalität dieser Webseite zu garantieren, werden anonyme
     Informationen für die Dauer Ihres Besuches gespeichert.
    </div>
  </div>
  <div class="row statistic-cookie-modal--option-row">
    <div class="row statistic-cookie-modal--option-input">
      <%= check_box_tag 'accept-analytics-cookies', nil, statistic_enabled?, class: 'js-accept-analytics-cookies' %>
      <%= label_tag 'accept-analytics-cookies', 'Optional: Statistik-Cookie' %>
    </div>
    <div class="statistic-cookie-modal--option-caption">
      Dieser Cookie dient zur Erstellung von nicht personalisierten Statistiken.
      Es werden keine auf Personen beziehbare Daten gespeichert. Wird er
      deaktiviert, wird der Seitenzugriff nicht für die Website-Statistik
      mitverfolgt.
    </div>
  </div>

  <div class="statistic-cookie-modal--actions-row">
    <button type="button" class="button js-analytics-cookies-save-settings-button">
      Einstellungen speichern
    </button>

    <button type="button" class="button agree-button js-analytics-cookies-accept-all-button">
      Alle Cookies akzeptieren
    </button>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
