<div class="collapse-text-widget js-collapse-text-widget">
  <div class="collapse-text-widget--inner-content js-collapse-text-widget-inner <%= collapse_class %>">
    <%= inner_content %>
  </div>

  <div
     class="collapse-text-widget--expand-button js-collapse-show-more-button"
     data-show-more-text="<%= t("custom.shared_components.collapse_text.show_more") %>"
     data-show-less-text="<%= t("custom.shared_components.collapse_text.show_less") %>"
   >
    <%= t("custom.shared_components.collapse_text.show_more") %>
  </div>
</div>
