<% if Setting.new_design_enabled? %>
  <div class="comments">
    <div id="comments" class="new-comments-component">
      <h3 class="new-comments-component--title">
        Kommentare <span class="js-comments-count">(<%= record.comments_count %>)</span>
      </h3>
      <%= content %>

      <%= render Shared::CommentsFormComponent.new(record) %>

      <% if show_filter? %>
        <div class="d-flex">
          <div class="items-list-line-divider"></div>
          <%= render(
            Shared::FilterDropdownComponent.new(
              title: "Sortieren nach:",
              anchor: 'comments',
              options: helpers.valid_orders,
              selected_option: helpers.current_order,
              i18n_namespace: "comments.orders"
            )
          ) %>
        </div>
      <% end %>
      <%= render "comments/comment_list", comments: comment_tree.root_comments %>
      <%= pagination_links %>
    </div>
  </div>
<% else %>
  <div class="row comments">
    <div id="comments" class="small-12 column">
      <%= content %>

      <%= render Shared::CommentsFormComponent.new(record) %>

      <% if show? %>
        <%= render Shared::OrderLinksComponent.new("comments", anchor: "tab-comments") %>
      <% end %>

      <%= render "comments/comment_list", comments: comment_tree.root_comments %>
      <%= pagination_links %>
    </div>
  </div>
<% end %>
