<% if record.is_a?(ProjektQuestion) %>
  <%= render ProjektQuestions::CommentsFormComponent.new(record) %>

<% elsif record.is_a?(DeficiencyReport) %>
  <%= render DeficiencyReports::CommentsFormComponent.new(record) %>

<% elsif record.is_a?(Topic) %>
  <%= render Topics::CommentsFormComponent.new(record) %>

<% elsif record.is_a?(Projekt)%>
  <%= render Projekts::CommentsFormComponent.new(record) %>

<% elsif permission_problem_key.present? %>
  <div class='callout alert'>
    <%= cannot_vote_text %>
  </div>

<% else can? :create, Comment.new(commentable: record) %>
  <%= render "comments/form", { commentable: record, parent_id: nil } %>

<% end %>
