<% projekt_labels.each do |label| %>
  <span class="label projekt-label secondary <%= @css_class %>"
        style="background-color:<%= label_background_color(label) %>;color:<%= label_text_color(label) %>"
        data-background-color="<%= label.color %>"
        data-text-color="<%= pick_text_color(label.color) %>"
        data-label-id="<%= label.id %>"
        >
        <i class="fas fa-<%= label.icon %>"></i>
        <%= label.name %>
  </span>
<% end %>
