<% projekt_labels.each do |label| %>
  <span class="label projekt-label secondary <%= @css_class %>"
        style="background-color:<%= label_grayscale? ? "#767676" : label.color %>"
        data-background-color="<%= label.color %>"
        data-label-id="<%= label.id %>"
        >
        <%= label.name %>
  </span>
<% end %>
