<% author_name_html = capture do %>
  <% if @author.present? %>
    <%= link_to user_path(@author), class: 'resource-item--author' do %>
      <%# <%= image_tag('', class: 'resource-item--author-photo') %>
      <div class="resource-item--author-photo">
      </div>
      <div class="resource-item--author-name">
        <%= @author.name %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="resource-item <%= component_class_name %>">
  <div class="resource-item--header">
    <%= header_content %>
    <%# <% if @projekt.present? %>
    <%#   <div class="resource-item--header-projekt">
    <%#     <%= @projekt.page.title %>
    <%#   </div>
    <%#   <div class="resource-item--header-projekt-breadcrumbs">
    <%#     <%= helpers.breadcrumbs_links(@projekt, ">", false) %>
    <%#   </div>
    <%#   <%# <% if resource.projekt.overview_page? %>
    <%#     <%#   <%= t("custom.projekts.overview_page.projekt_name_for_proposal") %>
    <%#   <% elsif @head_title.present? || additional_head_title_element.present? %>
    <%#     <%= @head_title %>
    <%#     <%= additional_head_title_element %>
    <%#   <% else %>
    <%#     <div class="resource-item--date">
    <%#       <% if days_left.present? %>
    <%#         <%= days_left %>
    <%#       <% elsif date.present? %>
    <%#         <%= date %>
    <%#       <% end %>
    <%#     </div>
    <%#   <% end %>
    <%#
    <%#   <% if @author.present? %>
    <%#     <div class="resource-item--author-in-wide-head-title">
    <%#       <%= author_name_html %>
    <%#     </div>
    <%#   <% end %>
  </div>

  <a href="<%= @url %>" class="resource-item--image-container">
    <% if image_overlay_item.present? %>
      <div class="resource-item--image-overlay-item-container">
        <%= image_overlay_item %>
      </div>
    <% end %>

    <div class="resource-item--card-image">
      <%= render(
        Shared::ResourceImageComponent.new(
          image_url: @card_image_url,
          image_placeholder_icon_class: @image_placeholder_icon_class,
          resource_name: @resource_name)
      ) %>
    </div>
    <div class="resource-item--horizontal-image">
      <%= render(
        Shared::ResourceImageComponent.new(
          image_url: @horizontal_image_url,
          image_placeholder_icon_class: @image_placeholder_icon_class,
          resource_name: @resource_name)
      ) %>
    </div>
  </a>

  <div class="resource-item--content">
    <div class="resource-item--body-wrapper">

      <div class="resource-item--body-and-sdgs">
        <div class="resource-item--body">
          <div class="resource-item--body-heading">
            <% if date.present? %>
              <div class="resource-item--date"><%= date %></div>
            <% end %>

            <% if @subline.present? %>
              <%= @subline %>
            <% elsif @tags.present? %>
              <div class="resource-item--tags">
                <% if @tags.present? %>
                  <% @tags.first(2).each do |tag| %>
                    <%= link_to(path_for_resource_with_params(@resource, tags: tag.name), target: 'blank', class: 'resource-item--tag') do %>
                      <%= tag.name %>
                    <% end %>
                  <% end %>

                  <% if @tags[2].present? %>
                    <%= link_to(path_for_resource_with_params(@resource, tags: @tags[2].name), target: '_blank', class: 'resource-item--tag resource-item--last-tag') do %>
                      <%= @tags[2].name %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= link_to(@title, @url, class: "resource-item--title" ) %>

          <div class="resource-item--description-wrapper">
            <div class="resource-item--description">
              <% if @wyshwig %>
              <% else %>
                <%= helpers.wysiwyg(@description) %>
                <% if Rails.env.development? %>
                  <p>
                  Resource ID: <%= @resource.id %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <% if additional_body_sections.any? %>
          <% additional_body_sections.each do |additional_body_section| %>
            <div class="resource-item--additional-body-section">
              <%= additional_body_section %>
            </div>
          <% end %>
        <% end %>

        <%= author_name_html %>

      </div>
      <% if footer_items.any? %>
        <div class="resource-item--footer">
          <% footer_items.each do |footer_item| %>
            <div class="resource-item--footer-section">
              <%= footer_item %>
            </div>
          <% end %>

          <%# <% if additional_body.present? %>
          <%#   <div class="resource-item--footer-section resource-item--additional-body-section-in-footer">
          <%#     <div class="resource-item--additional-body-section">
          <%#       <%= additional_body %>
          <%#     </div>
          <%#   </div>
          <%# <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
