<table>
  <tbody>
		<tr>
			<td class="small-6">
				<strong><%= t("custom.settings.#{@selectable_option.key}") %></strong>
				<br>
				<span class="small"> 
					<%= t("custom.settings.#{@selectable_option.key}_description", default: t("admin.settings.no_description")) %>
				</span>
      </td>
			<td class="small-6">   
				<%= form_for([:admin, @selectable_option]) do |f| %>
					<%= f.hidden_field :tab, id: dom_id(@selectable_option, :tab), value: @tab if @tab.present? %>
					<div class="small-12 medium-6 large-8 column">
						<%= f.text_area :value,
							label: false,
							id: dom_id(@selectable_option, :value),
							"aria-label": strip_tags(t("settings.#{@selectable_option.key}")),
							"aria-describedby": dom_id(@selectable_option, :description) %>
					</div>
					<div class="small-12 medium-6 large-4 column">
						<%= f.submit(t("admin.settings.index.update_setting"), class: "button hollow expanded") %>
					</div>
				<% end %>
			</td>
		</tr> 
  </tbody>  
</table>    
