<div id="search_form" class="text-search-form search-form-header">
  <%= form_tag form_url, method: :get, remote: remote_attribute, enforce_utf8: false, class: "js-text-search-form" do %>
    <% other_query_params_from_current_path.each do |param_name, param_value| %>
      <%= hidden_field_tag param_name, param_value %>
    <% end %>

    <label for="search_text">
      <input type="text"
      name="search"
      placeholder="<%= t("placeholder", scope: i18n_namespace) %>"
      class="input-group-field"
      value="<%= params[:search] %>" id="search_text">

    </label>
    <div class="input-group-button">
      <button type="submit" class="button" title="<%= t("#{i18n_namespace}.button") %>">
        <span class="icon-search"></span>
      </button>
    </div>
    <div class="text-search-form--reset-button js-text-search-form-reset-button">
      <i class="icon-cross"></i>
    </div>
  <% end %>
</div>
