<div id="search_form" class="text-search-form search-form-header">
  <h1 class="show-for-sr"><%= t("shared.outline.searcher") %></h1>
  <%= form_tag search_path, method: :get, enforce_utf8: false, class: "js-text-search-form" do %>
    <% other_query_params_from_current_path.each do |param_name, param_value| %>
      <%= hidden_field_tag param_name, param_value %>
    <% end %>

    <div class="input-group">
      <label for="search_text">
        <span class="show-for-sr"><%= t("#{i18n_namespace}.title") %></span>
        <input type="text" name="search" placeholder="<%= t("#{i18n_namespace}.placeholder") %>"
                                         class="input-group-field"
                                         value="<%= params[:search] %>" id="search_text">
      </label>
      <div class="input-group-button">
        <button type="submit" class="button" title="<%= t("#{i18n_namespace}.button") %>">
          <span class="show-for-sr"><%= t("#{i18n_namespace}.button") %></span>
          <span class="icon-search"></span>
        </button>
      </div>
      <i class="icon-cross text-search-form--reset-button js-text-search-form-reset-button"></i>
    </div>
  <% end %>
</div>
