<%= render "shared/loader_spinner" %>

<div class="flex-layout flex-layout-reverse-on-mobile">
  <div class="main-column">
    <% proposal_footer_url = projekt_phase_footer_tab_page_path(@projekt_phase.projekt.page, @projekt_phase.id) %>
    <%= render(
      Shared::ResourcesListComponent.new(
        resources: @proposals,
        resource_type: Proposal,
        remote_url: projekt_footer_phase_filter_url(@projekt_phase),
        map_coordinates: @proposals_coordinates,
        current_filter: @current_order,
        filter_param: "order",
        filters: @valid_orders,
        text_search_enabled: true,
        projekt_phase: @projekt_phase,
        empty_list_text: t("custom.proposals.index.empty_list_text")
      )) %>
    <%= paginate @proposals, remote: true, params: { controller: "pages", action: "projekt_phase_footer_tab" } %>
  </div>

  <aside id="proposals-sidebar" class="sidebar">
    <%= render Shared::SidebarCardComponent.new(title: t('custom.common.information'), icon_name: "info-circle") do |c| %>
      <div class="margin-bottom-half">
        <%= render_custom_block 'projekt_overview_page_sidebar', default_content: t("custom.proposals.index.sidebar_information_default_text")  %>
      </div>
      <div class="proposals--info-count margin-bottom-half">
        <% if @all_resources.present? %>
          <span>
            <%= t('custom.proposals.index.count') %>
          </span>
          <span>
            <%= @all_resources.count %>
          </span>
        <% end %>
      </div>

      <%= render Shared::NewButtonComponent.new(projekt_phase: @projekt_phase) %>
    <% end %>

    <% if current_user.present? && extended_feature?('proposals.enable_my_posts_filter') %>
      <%= render Sidebar::Filters::MyPostsCardComponent.new %>
    <% end %>

    <%= render Sidebar::ExportListComponent.new(
      path: admin_proposals_path(**request.query_parameters, format: :csv),
    ) %>
  </aside>
</div>
