<%= form_for(notification, url: url) do |f| %>
  <%= f.hidden_field :tab, value: "#tab-projekt-notifications" %>
  <%= f.hidden_field :namespace, value: @namespace %>

  <% if @projekt.projekt_notification_phases.count == 1 %>
    <%= f.hidden_field :projekt_phase_id, value: @projekt.projekt_notification_phases.first.id %>
  <% else %>
    <div class='small-12 medium-10'>
      <%= f.label :projekt_phase_id, t("custom.admin.projekts.edit.projekt_notifications_tab.phases_label") %>
      <div class="d-flex">
        <% @projekt.projekt_notification_phases.each.with_index(1) do |projekt_notification_phase, index| %>
          <div class="d-flex d-flex-start margin-right">
            <%= f.radio_button :projekt_phase_id, projekt_notification_phase.id, label: false, required: true, id: "projekt_notification_phase_#{projekt_notification_phase.id}" %>
            <%= f.label "phase_#{projekt_notification_phase.id}",
              "#{projekt_notification_phase.phase_tab_name.presence || t("custom.admin.projekts.edit.projekt_notifications_tab.name")} (#{projekt_notification_phase.name} #{index})" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='small-12 medium-7'>
    <%= f.text_field :title, { id: dom_id(notification, :edit_title), label: t("custom.admin.projekts.edit.projekt_notifications_tab.notification_title") } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :body, { id: dom_id(notification, :edit_body), label: t("custom.admin.projekts.edit.projekt_notifications_tab.notification_body") } %>
  </div>

  <div>
    <%= f.submit(t("custom.admin.projekts.edit.projekt_notifications_tab.button"), class: "button") %>
  </div>
<% end %>
