<h3 class="inline-block"><%= t("admin.polls.show.questions_title") %></h3>

<%= link_to t("custom.admin.questions.index.create_bundle"), new_admin_question_path(poll_id: @poll.id, bundle_question: true),
            class: "button float-right" %>

<%= link_to t("custom.admin.questions.index.create_normal"), new_admin_question_path(poll_id: @poll.id),
            class: "button float-right" %>

<%= link_to t("custom.admin.polls.poll.send_notifications"), send_notifications_admin_poll_path(@poll.id),
            class: "button float-right", method: :put, data: { confirm: t("custom.admin.polls.poll.send_notifications_confirm") } %>

<% if @poll.questions.root_questions.empty? %>
  <div class="callout primary margin-top">
    <%= t("admin.polls.show.no_questions") %>
  </div>
<% else %>
  <table class="margin selectable">
    <thead>
      <tr>
        <th><%= t("admin.polls.show.table_title") %></th>
        <th><%= t("custom.admin.polls.show.type") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody class="sortable" data-js-url="<%= admin_poll_questions_order_questions_path(@poll.id) %>" >
      <% @poll.questions.root_questions.each do |question| %>
        <tr id="<%= dom_id(question) %>" data-answer-id="<%= question.id %>">
          <td>
            <strong><%= question.title %></strong>
            <% if question.allows_multiple_answers? %>
              <small>
                (<%= t("admin.questions.index.multiple") %>)
              </small>
            <% end %>
            <% if question.proposal.present? %>
              <small>
                <%= link_to t("admin.polls.show.see_proposal"),
                            proposal_path(question.proposal),
                            target: "_blank" %>
              </small>
            <% end %>
          </td>
          <td>
            <% if question.bundle_question? %>
              Fragenbündel
            <% else %>
              Normale Frage
            <% end %>
          </td>
          <td>
            <%= render Admin::TableActionsComponent.new(question) do |actions| %>
              <% translation_for_action =
                if question.bundle_question?
                  t("custom.admin.polls.show.edit_nested_questions")
                else
                  t("admin.polls.show.edit_answers")
                end %>
              <%= actions.link_to translation_for_action, admin_question_path(question),
                                                                      class: "answers-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
