<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>
<% provide :meta_description do %><%= @custom_page.subtitle.presence || @custom_page.description %><% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: page_url(@custom_page),
              social_title: @custom_page.title,
              social_description: @custom_page.subtitle.presence || @custom_page.description,
              twitter_image_url: (@custom_page.image.present? ? polymorphic_path(@custom_page.image) : nil),
              og_image_url: (@custom_page.image.present? ? polymorphic_path(@proposal.image) : nil) %>
<% end %>



<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= @custom_page.title %></h1>
    <% if @custom_page.subtitle.present? %>
      <h2><%= @custom_page.subtitle %></h2>
    <% end %>

    <%= auto_link_already_sanitized_html AdminWYSIWYGSanitizer.new.sanitize(@custom_page.content) %>
  </div>

  <% if @custom_page.print_content_flag %>
    <div class="small-12 medium-3 column">
      <%= render "/shared/print" %>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div class="small-12 column">
      <%= render "shared/cards", cards: @cards %>
    </div>
  <% end %>

</div>
