<%= form_for @residence, as: "residence", url: residence_path do |f| %>
  <%= render "errors" %>

  <%= f.hidden_field :verification_mode, value: 'manual' %>

  <% if Setting["extra_fields.verification.first_name"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.first_name") %>
      <%= f.text_field :first_name, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.last_name"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.last_name") %>
      <%= f.text_field :last_name, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.street_name"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.street_name") %>
      <%= f.text_field :street_name, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.street_number"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.street_number") %>
      <%= f.text_field :street_number, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.plz"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.plz") %>
      <%= f.text_field :plz, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.city_name"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.city_name") %>
      <%= f.text_field :city_name, label: false %>
    </div>
  <% end %>

  <% if Setting["extra_fields.registration.gender"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.date_of_birth") %>
      <div class="user-date-of-birth sign-up">
        <%= f.date_select :date_of_birth,
                          prompt: true,
                          label: false,
                          start_year: 1900, end_year: minimum_required_age.years.ago.year %>
      </div>
    </div>
  <% end %>

  <% if Setting["extra_fields.verification.gender"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.gender") %>
      <%= f.select :gender, options_for_gender_select, include_blank: t("custom.devise_views.users.registrations.new.gender"), label: false %>
    </div>
  <% end %>


  <% if Setting["extra_fields.verification.document_last_digits"] %>
    <div class="small-12 medium-5 clear">
			<%= f.label t("custom.verification.residence.new.document_last_digits") %>
      <%= f.text_field :document_last_digits, label: false %>
    </div>
  <% end %>

  <div class="small-12">
    <%= f.check_box :terms_of_service,
      title: t("verification.residence.new.accept_terms_text_title"),
      label: t("verification.residence.new.accept_terms_text",
               terms_url: link_to(t("verification.residence.new.terms"), page_path("census_terms"),
                                  title: t("shared.target_blank"),
                                  target: "_blank")
              ) %>
  </div>

  <div class="small-12 medium-3 clear">
    <%= f.submit t("verification.residence.new.verify_residence"),
                 id: "new_residence_submit",
                 class: "button success expanded" %>
  </div>
<% end %>
