<%= render(Shared::ResourceItemComponent.new(component_attributes)) do |c| %>
  <% unless proposal.successful? %>
    <% c.first_footer_item do  %>
      <% if proposal.archived? %>
        <div class="padding text-center callout warning">
          <%= t("proposals.proposal.archived") %>
        </div>
      <% else %>
        <div id="proposal_<%= proposal.id %>_votes">
          <%# <%= render Proposals::NewVotesComponent.new(proposal, vote_url: vote_proposal_path(proposal, value: "yes")) %>
          <%= render Proposals::VotesComponent.new(proposal, vote_url: vote_proposal_path(proposal, value: "yes")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% c.second_footer_item do  %>
    <div id="proposal_<%= proposal.id %>_votes_count">
      <%= t("proposals.proposal.supports", count: proposal.total_votes) %>
    </div>
  <% end %>
<% end %>

