<%= render "shared/globalize_locales", resource: @answer %>

<%= translatable_form_for(@answer, url: form_url) do |f| %>

  <%= render "shared/errors", resource: @answer %>

  <%= f.hidden_field :given_order,
        value: @answer.persisted? ? @answer.given_order : @answer.class.last_position(@answer.question_id || @question.id) + 1 %>

  <%= f.hidden_field :question_id, value: @answer.question_id || @question.id %>

  <%= f.translatable_fields do |translations_form| %>
    <div class="row">
      <div class="column end">
        <%= translations_form.text_field :title %>
      </div>
    </div>
    <% if @question.votation_type.unique? || @question.votation_type.multiple? || @question.votation_type.multiple_with_weight? %>
      <div class="row">
        <div class="column">
          <%= translations_form.text_area :description, maxlength: Poll::Question.description_max_length, class: "html-area" %>
        </div>
        <div class="column">
          <%= f.text_field :more_info_link %>
        </div>
      </div>
    <% end %>
    <% if @question.votation_type.unique? || @question.votation_type.multiple? %>
      <div class="row">
        <div class="small-6 column">
          <%= f.check_box :open_answer,
            label: t('custom.admin.polls.questions.answers.open_answer_html'),
            disabled: !can_answer_be_open?(@answer.question || @question) && !@answer.open_answer? %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @question.poll.wizard_mode? && @question.votation_type.vote_type == "unique" && @question.parent_question.blank? %>
    <div class="row">
      <div class="small-12 medium-4 large-2 margin-top column">
        <% question_options =  (@question.poll.questions.to_a - [@question]).map { |question| [question.title, question.id]} %>
        <%= f.select :next_question_id, question_options, { include_blank: t("custom.shared.select"), label: t("custom.polls.questions.next_question") } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-4 large-2 margin-top column">
      <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
    </div>
  </div>

<% end %>
