<% if @current_milestone == milestone %>
  <% milestone_timeline_class = 'current-milestone' %>
<% elsif @current_milestone.present? && milestone.publication_date > @current_milestone.publication_date %>
  <% milestone_timeline_class = 'future-milestone' %>
<% end %>


<li class=<%= milestone_timeline_class %>>
  <div class="milestone-content">

    <% if milestone.custom_date.present? %>
      <span class="milestone-date">
        <strong>
          <%= milestone.custom_date %>
        </strong>
      </span>

    <% elsif milestone.publication_date.present? %>
      <span class="milestone-date">
        <strong>
          <%= l(milestone.publication_date.to_date, format: :long) %>
        </strong>
      </span>

    <% end %>

    <% if milestone.status.present? %>
      <p>
        <span class="milestone-status">
          <%= milestone.status.name %>
        </span>
      </p>
    <% end %>

    <%= image_tag(milestone.image.variant(:large), { id: "image_#{milestone.id}", alt: milestone.image.title, class: "margin" }) if milestone.image.present? %>

    <p>
      <%= AdminWYSIWYGSanitizer.new.sanitize milestone.description %>
    </p>

    <% if milestone.documents.present? %>
      <div class="documents">
        <div class="document-link text-left small">
          <p>
            <strong><%= t("shared.documentation") %></strong>
          </p>

          <% milestone.documents.each do |document| %>
              <%= link_to document.title,
                      document.attachment,
                      target: "_blank",
                      rel: "nofollow" %><br>
              <small>
                <%= document.humanized_content_type %>&nbsp;|&nbsp;
                <%= number_to_human_size(document.attachment_file_size, precision: 2) %>
              </small>
              <br>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</li>
