<% if user_signed_in? && @poll.comments_allowed?(current_user) %>
  <%= render "comments/form", { commentable: @poll, parent_id: nil } %>

<% elsif user_signed_in? %>
  <div class='callout warning'>
    <% if current_user.unverified? %>
      <%= sanitize(t("polls.show.cant_answer_verify",
                     verify_link: link_to(t("polls.show.verify_link"), verification_path))) %>

    <% elsif @poll.not_allow_user_geozone?(current_user) %>
      <%= t('custom.shared.warnings.only_for_geozones', geozones: @poll.geozone_restrictions_formatted) %>

    <% elsif @poll.citizen_not_alloed?(current_user) %>
      <%= t("custom.shared.warnings.only_for_citizens", city: Setting["org_name"]) %>


    <% elsif @poll.expired? %>
      <%= t('custom.comments.restricted.voting_phase_expired')%>

    <% elsif !@poll.expired? && !@poll.current?  %>
      <%= t('custom.polls.show.cant_answer_not_started_yet', start_date: @poll.starts_at.strftime("%d.%m.%Y"), end_date: @poll.ends_at.strftime("%d.%m.%Y") )%>

    <% end %>
  </div>

<% else %>
  <%= render "shared/login_to_comment" %>

<% end %>
