<fieldset class="documents-list">
  <p class="help-text"><%= note %></p>

  <div id="nested-documents" data-max-documents-allowed="<%= max_documents_allowed %>">
    <%= f.fields_for :formular_answer_documents do |documents_builder| %>
      <%= render FormularAnswers::DocumentFieldsComponent.new(
        f: documents_builder,
        formular_field: formular_field,
        formular_answer: formular_answer
      ) %>
    <% end %>
  </div>

  <%= link_to_add_association t("documents.form.add_new_document"), f, :formular_answer_documents,
                              partial: "custom/formular_answers/document_fields",
                              id: "new_document_link",
                              role: 'button',
                              class: "button upload-document
                                      #{"hide" if max_documents_allowed?}",
                              render_options: {
                                locals: {
                                  formular_field: formular_field,
                                  formular_answer: formular_answer
                                }
                              },
                              data: {
                                association_insertion_node: "#nested-documents",
                                association_insertion_method: "append"
                              } %>

  <div id="max-documents-notice" class="max-documents-notice callout primary text-center <%= "hide" unless max_documents_allowed? %>">
    <%= sanitize(t("documents.max_documents_allowed_reached")) %>
  </div>
</fieldset>
