<tr id="<%= dom_id(user, :admin) %>">
  <% if @current_filter == "erased" %>
    <td><%= link_to user.id, user_path(user), target: "_blank" %></td>
    <td><%= user.erase_reason %></td>
    <td><%= user.unique_stamp %></td>
    <td><%= user.geozone&.name %></td>
    <td><%= l(user.verified_at, format: "%d %b %Y") if user.verified_at %></td>
  <% else %>
    <td><%= link_to user.name, user_path(user), target: "_blank" %></td>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.city_name %></td>
    <td class="<%= "bold-on-hover" if user.registered_address.present? %>"><%= user.formatted_address %></td>
    <td><%= user.plz %></td>
    <td><%= user.geozone&.name %></td>
    <td><%= user.document_type %></td>
    <td><%= user.document_last_digits %></td>
    <td><%= t("custom.devise_views.users.gender.#{user.gender}") if user.gender.present? %></td>
    <td><%= l(user.date_of_birth, format: "%d %b %Y") if user.date_of_birth %></td>
    <td><%= display_user_roles(user) %></td>
    <td><%= user.unique_stamp %></td>
    <td><%= l(user.verified_at, format: "%d %b %Y") if user.verified_at %></td>

    <td>
      <% unless skip_user_verification? || user.organization? %>
        <% if user.verified_at.blank? %>
          <%= link_to(t("custom.admin.users.columns.action.verify"), verify_admin_user_path(user), class: 'button', remote: true, method: :put, data: {confirm: 'Sind Sie sicher?'}) %>
        <% else %>
          <%= link_to(t("custom.admin.users.columns.action.unverify"), unverify_admin_user_path(user), class: 'button', remote: true, method: :put, data: {confirm: 'Sind Sie sicher?'}) %>
        <% end %>
        <% if @verification_result_notice.present? %>
          <small><%= @verification_result_notice %></small>
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
