<% if user_signed_in? && @projekt.present? && @debate.comments_allowed?(current_user) %>
  <%= render "comments/form", { commentable: @debate, parent_id: nil } %>

<% elsif user_signed_in? && @projekt.present? %>
  <div class='callout alert'>
    <% if !current_user.level_two_or_three_verified? %>
      <%= t('custom.comments.restricted.not_verified', verify_account: link_to_verify_account).html_safe %>

    <% elsif @projekt.debate_phase.phase_activated? && @projekt.debate_phase.expired? %>
      <%= t('custom.comments.restricted.debate_phase_expired')%>

    <% elsif !@projekt.debate_phase.phase_activated? %>
      <%= t('custom.comments.restricted.debate_phase_not_active')%>

    <% elsif @projekt.debate_phase.geozone_restricted == "only_citizens" && current_user.not_current_city_citizen? %>
      <%= t("custom.shared.warnings.only_for_citizens", city: Setting["org_name"]) %>

    <% elsif @projekt.debate_phase.geozone_restricted == "only_geozones" && !@projekt.debate_phase.geozone_restrictions.include?(current_user.geozone)  %>
      <%= t("custom.shared.warnings.only_for_geozones", geozones: @projekt.debate_phase.geozone_restrictions_formatted) %>

    <% else %>
     <%= t('custom.comments.restricted.other')%>

    <% end %>
  </div>

<% elsif user_signed_in? && @projekt.blank? %>
  <%= render "comments/form", { commentable: @debate, parent_id: nil } %>

<% else %>

  <%= render "shared/login_to_comment" %>
<% end %>
