<div class="verification account row">
  <div class="small-12 column">

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.residence.new.title") %></h1>

    <div class="user-permissions small-12">
      <p><%= t("verification.user_permission_info") %></p>

      <ul>
        <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_debates") %></li>
        <li><span class="icon-check"></span>&nbsp;<%= t("verification.user_permission_proposal") %></li>
        <li><span class="icon-x"></span>&nbsp;<%= t("verification.user_permission_support_proposal") %></li>
        <li><span class="icon-x"></span>&nbsp;<%= t("verification.user_permission_votes") %></li>
      </ul>
    </div>

    <%= form_for @residence, as: "residence", url: residence_path do |f| %>
      <%= render "errors" %>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.first_name") %>
          <%= f.text_field :first_name, label: false %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.last_name") %>
          <%= f.text_field :last_name, label: false %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.street_name") %>
          <%= f.select :city_street_id, CityStreet.all.map{ |str| [str.name_with_plz, str.id]  }, { prompt: t('helpers.select.prompt'), label: false } %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.street_number") %>
          <%= f.text_field :street_number, label: false %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.plz") %>
          <%= f.text_field :plz, label: false %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.city_name") %>
          <%= f.text_field :city_name, label: false %>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.date_of_birth") %>
          <div class="user-date-of-birth sign-up">
            <%= f.date_select :date_of_birth,
                              prompt: true,
                              label: false,
                              start_year: 1900, end_year: minimum_required_age.years.ago.year %>
          </div>
        </div>

        <div class="small-12 medium-5 clear">
          <%= f.label t("custom.verification.residence.new.gender") %>
          <%= f.select :gender, options_for_gender_select, include_blank: t("custom.devise_views.users.registrations.new.gender"), label: false %>
        </div>

      <% if @residence.document_required? %>

        <div class='user-document'>
          <div class='small-12 medium-5 clear'>
            <%= f.select :document_type, user_document_types, prompt: "" %>
          </div>
          <div class='small-12 medium-5 clear'>
            <%= f.label t("custom.verification.residence.new.document_last_digits") %>
            <%= f.text_field :document_last_digits, label: false %>
          </div>
        </div>

        <div>
          <label><%= t('custom.users.document_help') %></label>

          <div class='row margin-bottom'>
            <div class='column small-12 medium-6'>
              <label><%= t('custom.users.card_label') %></label>
              <p><%= t('custom.users.card_help') %></p>
              <%= image_tag 'card.jpg' %>
            </div>

            <div class='column small-12 medium-6'>
              <label><%= t('custom.users.pass_label') %></label>
              <p><%= t('custom.users.pass_help') %></p>
              <%= image_tag 'pass_new.png' %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="small-12">
        <%= f.check_box :terms_of_service,
          title: t("devise_views.users.registrations.new.terms_title"),
          label: t("custom.devise_views.users.registrations.new.terms",
                   terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/conditions",
                                  title: t("shared.target_blank"),
                                  target: "_blank"),
                   privacy: link_to(t("custom.devise_views.users.registrations.new.privacy_link"), "/privacy",
                                  title: t("shared.target_blank"),
                                  target: "_blank")
                  ) %>
      </div>

      <div class="small-12 medium-3 clear">
        <%= f.submit t("verification.residence.new.verify_residence"),
                     id: "new_residence_submit",
                     class: "button success expanded" %>
      </div>
    <% end %>
  </div>
</div>
