<div class="legislation-questions-new legislation-questions-form">

  <% if @projekt_livestream.present? %>
    <%= back_link_to projekt_livestreams_admin_projekt_phase_path(@projekt_phase), t("admin.legislation.questions.new.back") %>
  <% else %>
    <%= back_link_to projekt_questions_admin_projekt_phase_path(@projekt_phase), t("admin.legislation.questions.new.back") %>
  <% end %>

  <% if @projekt_livestream.present? %>
    <h2><%= @projekt_livestream.title %></h2>
  <% end %>

  <div class="row">
    <div class="small-12 column">
      <% if @projekt_livestream.present? %>
        <h3><%= t("custom.admin.projekt_phases.projekt_questions.new.title_livestream") %></h3>
      <% else %>
        <h3><%= t("custom.admin.projekt_phases.projekt_questions.new.title") %></h3>
      <% end %>
    </div>
  </div>

  <%= render "form" %>
</div>
