<div class="new-card -no-padding users-profile-banner">
  <div class="users-profile-banner--background-image">
  </div>
  <div class="users-profile-banner--avatar-wrapper">
    <%= render Images::DirectUploadComponent.new(@image_builder, imageable: @imageable, submit_form: true) do |c| %>
      <% c.placeholder do %>
        <div class="users-profile-banner--avatar">
          <%= @user.name.chars.first.upcase %>
        </div>
      <% end %>

      <% c.custom_edit_button do %>
        <div class="users-profile-banner--edit-button users-profile-banner--avatar-edit-button">
          <i class="fa fa-pencil-alt"></i>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="users-profile-banner--info">
    <div class="users-profile-banner--name">
      <%= @user.full_name %>
    </div>
    <div class="users-profile-banner--info-line">
      Beigetreten am: <%= l(@user.created_at, format: :date_only) %>
    </div>
    <div class="users-profile-banner--info-line">
      <% if @user.level_three_verified? %>
        <span class="icon-check"></span>
        <%= t("account.show.verified_account") %>
      <% else %>
        Konto ist nicht verifiziert
      <% end %>
    </div>
  </div>
</div>
