<div id="user-registered-address-fields">
  <div class="row">
    <div class="column">
      <%= label_tag :form_registered_address_city_id, t("custom.devise_views.users.registrations.new.form_registered_address_city_label") %>
      <%= select_tag :form_registered_address_city_id, options_for_select(options_for_city_select, selected_city), {
          prompt: t("custom.helpers.select.address_prompt"),
          class: "js-registered-address-choose show-arrow #{"is-invalid-input" if highlight_error?(@registered_address_city)}",
          style: "background-color:#f8f8f8;"
        } %>

      <div id="registered-address-street-field" style="display: <%= @registered_address_city.present? ? "block" : "none" %>">
        <%= label_tag :form_registered_address_street_id, t("custom.devise_views.users.registrations.new.form_registered_address_street_label") %>
        <%= select_tag :form_registered_address_street_id, options_for_select(options_for_street_select, selected_street), {
            prompt: t("custom.helpers.select.address_prompt"),
            class: "js-registered-address-choose show-arrow #{"is-invalid-input" if highlight_error?(@registered_address_street)}",
            style: "background-color:#f8f8f8;"
          } %>
      </div>

      <div id="registered-address-field" style="display: <%= (@registered_address_city.present? && @registered_address_street.present?) ? "block" : "none" %>">
        <%= label_tag :form_registered_address_id, t("custom.devise_views.users.registrations.new.form_registered_address_label") %>
        <%= select_tag :form_registered_address_id, options_for_select(options_for_address_select, selected_address), {
            prompt: t("custom.helpers.select.address_prompt"),
            class: "js-registered-address-confirm show-arrow #{"is-invalid-input" if highlight_error?(@registered_address)}",
            style: "background-color:#f8f8f8;"
          } %>
      </div>
    </div>
  </div>
</div>
