<h2><%= t("admin.settings.index.map.title") %></h2>

<% @projekt.map_layers.each do |layer| %>
  <%= render partial: "custom/admin/shared/map/map_layer", locals: { layer: layer, return_path: namespace_projekt_path(action: :edit, anchor: "tab-projekt-map") } %>
<% end %>

<div id='new-map-layer'>
  <%= link_to t("custom.map_layer.buttons.new_layer"), new_admin_map_layer_path(return_path: namespace_projekt_path(action: :edit, anchor: "tab-projekt-map"), mappable_id: @projekt.id, mappable_type: @projekt.class.name), class: "button success margin-bottom", remote: true %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.setting_value") %></th>
    </tr>
  </thead>
  <tbody>

    <%= form_for(@projekt.map_location, url: namespace_mappable_path(action: :update_map)) do |f| %>
      <%= render partial: "custom/admin/shared/map/map_settings_form", locals: { map_location_form: f, attribute: :latitude } %>
      <%= render partial: "custom/admin/shared/map/map_settings_form", locals: { map_location_form: f, attribute: :longitude } %>
      <%= render partial: "custom/admin/shared/map/map_settings_form", locals: { map_location_form: f, attribute: :zoom } %>
    <% end %>
  </tbody>
</table>

<p><%= t("admin.settings.index.map.help") %></p>

<%= render "custom/admin/shared/map/map_form", mappable: @projekt, map_location: @projekt.map_location %>
