<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.pages") %> - <%= @projekt.page.title %>
<% end %>

<h2><%= t("custom.admin.projekts.edit.projekt_page_tab.main_block_title") %></h2>

<div class="config-block">

  <%= render "shared/globalize_locales", resource: @projekt.page %>

  <%= translatable_form_for [:admin, @projekt.page], html: { class: "edit_page" } do |f| %>
    <%= render "shared/errors", resource: @projekt.page %>

    <hr>

    <div style="display:inline-block;width:55%">
      <h3><%= t("admin.site_customization.pages.form.options") %></h3>
      <%= f.label :status %>
      <% ::SiteCustomization::Page::VALID_STATUSES.each do |status| %>
        <%= f.radio_button :status, status %>
        <br>
      <% end %>

      <%= f.check_box :more_info_flag, class: "small" %>
      <%= f.check_box :print_content_flag %>
    </div>

    <div style="display:inline-block;width:40%">
      <%= f.text_field :slug, size: 80, maxlength: 80,
        hint: sanitize(t("admin.site_customization.pages.new.slug_help")) %>

      <% if @projekt.page.slug.present? && @projekt.page.published? %>
        <%= link_to "Projektseite anzeigen", page_path(@projekt.page.slug), target: "_blank", class: "button primary" %>
      <% end %>
    </div>

    <hr>

    <%= render Images::NestedComponent.new(f, block_id: "projekt_page_banner") %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title %>
      </div>
      <div>
        <%= translations_form.text_area :content, class: "html-area tall-editor #{ck_editor_class(current_user)}" %>
      </div>
    <% end %>

    <%= hidden_field_tag :origin, params[:origin] %>
    <%= hidden_field_tag :namespace, @namespace %>

    <div>
      <%= f.submit class: "button success" %>
    </div>
  <% end %>
</div>
