<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.main_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/settings_table", locals: { features: @projekt_features_main } %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.page_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/projekt_page" %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.information_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/projekt_information" %>
