<div class="float-right">
  <%= link_to t("custom.admin.projekts.edit.projekt_arguments_tab.send_notifications_button"), send_notifications_admin_projekt_projekt_arguments_path(@projekt.id, params: { projekt_argument: { namespace: @namespace } } ), method: :post, class: "button" %>
</div>

<h2><%= t("custom.admin.projekts.edit.projekt_arguments_tab.page_title") %></h2>

<%= render partial: 'custom/admin/projekts/edit/projekt_arguments/form', locals: { url: admin_projekt_projekt_arguments_path(@projekt, @projekt_argument), projekt: @projekt, projekt_argument: @projekt_argument } %>

<% if @projekt_arguments_pro.any? %>
    <h3>Pro:</h3>
    <div class="edit-projekt-arguments-list">
      <% @projekt_arguments_pro.each do |projekt_argument| %>
        <%= render 'admin/projekts/edit/projekt_arguments/projekt_argument', projekt: @projekt, projekt_argument: projekt_argument %>
      <% end %>
    </div>
<% end %>

<% if @projekt_arguments_cons.any? %>
    <h3>Contra:</h3>
    <div class="edit-projekt-arguments-list">
      <% @projekt_arguments_cons.each do |projekt_argument| %>
        <%= render 'admin/projekts/edit/projekt_arguments/projekt_argument', projekt: @projekt, projekt_argument: projekt_argument %>
      <% end %>
    </div>
<% end %>
