<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.main_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/settings_table", locals: { features: @projekt_features_main } %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.information_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/projekt_information" %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.duration_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/projekt_duration" %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.geo_affiliation_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/geo_affiliation" %>

<h2><%= t("custom.admin.projekts.edit.projekt_configuration_tab.individual_groups_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_configuration/individual_groups" %>
