<% if can? :update_official_answer, deficiency_report %>
  <%= render "shared/globalize_locales", resource: deficiency_report %>
  <%= translatable_form_for deficiency_report, url: update_official_answer_deficiency_report_path do |f| %>
    <%= f.translatable_fields do |translations_form| %>

      <%= translations_form.hidden_field :title, label: false, value: deficiency_report.title %>

      <div class="small-12 column">
        <%= translations_form.label :official_answer, t("custom.deficiency_reports.show.official_answer.title") %>
        <%= translations_form.text_area :official_answer, label: false, class: "html-area #{ck_editor_class(current_user)}" %>
      </div>

      <div class="actions small-12 column">
        <%= f.submit(class: "button", value: t("custom.deficiency_reports.show.submit_official_answer_button")) %>
      </div>
    <% end %>
  <% end %>

  <% if can? :approve_official_answer, deficiency_report %>
    <%= button_to t("custom.deficiency_reports.show.approve_official_answer"), approve_official_answer_deficiency_report_path, class: "button success approve-defficiciency-report-button", method: :patch %>
  <% end %>
<% end %>
