<tr class="projekt_phase_settings" data-answer-id="<%= projekt_phase.id %>" style="vertical-align:top;">
  <td style="width:195px;">
    <strong>
      <%= projekt_phase.model_name.human %>
    </strong>
    <% if projekt_phase.phase_tab_name.present? %>
      <div>
        <%= "(#{projekt_phase.phase_tab_name})" %>
      </div>
    <% end %>
    <div class='margin-bottom'>
      <div id="<%= dom_id(projekt_phase, :copy_phase_link) %>" class="hide">
        <% if @projekt.overview_page? %>
          <%= request.base_url + projekts_path(projekt_phase_id: projekt_phase.id, anchor: "filter-subnav") %>
        <% else %>
          <%= request.base_url + "/#{@projekt.page.slug}?projekt_phase_id=#{projekt_phase.id}#filter-subnav" %>
        <% end %>
      </div>
      <small>
        <div class="projekt-phase-edit--link-to-resources">
          <%= link_to t("custom.admin.projekts.edit.projekt_phases_tab.copy_phase_link"), "#", class: "js-copy-source-button phase-copy-link", data: { target: dom_id(projekt_phase, :copy_phase_link) } %>
          <%= admin_projekt_phase_resources_link(projekt_phase) %>
        </div>
      </small>
    </div>
  </td>

  <td>
    <%= projekt_phase.start_date %>
  </td>

  <td>
    <%= projekt_phase.end_date %>
  </td>

  <td>
    <% if projekt_phase.age_restriction.present? %>
      <span class='age-restriction-icon'>
        <%= t("custom.admin.projekts.edit.projekt_phases_tab.restriction_names.age") %>
      </span>
    <% end %>

    <% if projekt_phase.geozone_restricted != "no_restriction" && projekt_phase.geozone_restricted != nil %>
      <span class='geo-restriction-icon'>
        <%= t("custom.admin.projekts.edit.projekt_phases_tab.restriction_names.geo") %>
      </span>
    <% end %>

    <% if projekt_phase.verification_restricted %>
      <span class='verification-restriction-icon'>
        <%= t("custom.admin.projekts.edit.projekt_phases_tab.restriction_names.verification") %>
      </span>
    <% end %>
  </td>

  <td>
    <div id="<%= dom_id(projekt_phase, :default_footer_tab) %>">
      <%= render partial: "admin/projekts/edit/projekt_phases/default_projekt_phase", locals: { projekt: @projekt, projekt_phase: projekt_phase, phase_name: projekt_phase.name } %>
    </div>
  </td>

  <td>
    <%= render Admin::LivesubmitCheckbox::Component.new(url: toggle_active_status_admin_projekt_projekt_phase_path(@projekt, projekt_phase), resource_name: "projekt[phase_attributes]", attribute_name: "active", id: projekt_phase.id, current_value: projekt_phase.active) %>
  </td>

  <td>
    <%= render Admin::TableActionsComponent.new(projekt_phase,
                                                actions: [:edit, :destroy],
                                                edit_path: polymorphic_path([@namespace, projekt_phase], action: :duration),
                                                destroy_path: polymorphic_path([@namespace, projekt_phase])
                                               ) %>
  </td>
</tr>
