<% if render_map? %>
  <div class="map proposals-map">
    <%= render Shared::MapComponent.new(
      map_location: budget.projekt_phase.map_location,
      parent_class: "budgets",
      process_coordinates: coordinates,
      projekt_phase: budget.projekt_phase,
      show_admin_shape: budget.projekt_phase.map_location.show_admin_shape?
    ) %>

  </div>

  <div class='expand-overview-map-wrapper'>
    <div class='expand-overview-map small js-expand-overview-map not-print wide'>
      <%= t('custom.proposals.index.show_larger_map') %>
    </div>
  </div>
<% end %>

<section class="no-margin-top margin-bottom">
  <div class="expanded jumbo-budget budget-heading padding">

    <div class="row progress-votes">
      <div class="small-12 column">
        <h2 class="margin-top">
          <%= budget.current_phase.name %>
        </h2>
        <% if budget.show_money? %>
          <h3>
            <span class="tagline"><%= t("budgets.investments.header.price") %></span>
            <%= budget.formatted_heading_price(heading) %>
          </h3>
        <% end %>

        <% if can? :show, ballot %>
          <% if ballot.valid_heading?(heading) %>
            <div class="progress-bar-nav">
              <div id="progress_bar">
                <%= render "budgets/ballot/progress_bar", ballot: ballot, heading: heading %>
              </div>
            </div>
          <% end %>
        <% else %>
        <% end %>

      </div>
    </div>
  </div>
</section>
