<% if phase.phase_activated? %>
  <li id="filter-subnav-<%= phase.id %>" class="page-subnav-tab <%= 'is-active' if phase.id == params[:projekt_phase_id] %>">
    <%= link_to projekt_phase_footer_tab_page_path(@projekt.page, phase),
      onclick: "$('#footer-content').addClass('show-loader');",
      class: "js-remote-link-push-state",
      data: {
        remote: true,
        "footer-tab-back-url": page_path(@projekt.page.slug, projekt_phase_id: phase.id, anchor: "projekt-footer"),
      } do %>
      <h4>
        <%= tab_title %>
        <%= "(#{phase.resource_count})" if phase.resource_count.present? %>
      </h4>
      <div class='tab-info-summary'>
        <% if phase.is_a?(ProjektPhase::MilestonePhase) && phase.resource_count.present?  %>
          <% if phase.projekt.milestones.last.present? %>
            <i class="far fa-calendar"></i>
            <span ><%= format_date(phase.projekt.milestones.last.publication_date.to_date) %></span>
          <% end %>

        <% elsif phase.is_a?(ProjektPhase::ProjektNotificationPhase) && phase.projekt.projekt_notifications.any? %>
          <i class="far fa-calendar"></i>
          <span ><%= format_date(phase.projekt.projekt_notifications.last.updated_at.to_date) %></span>

        <% elsif phase.is_a?(ProjektPhase::EventPhase) && phase.resource_count.present? %>
          <% if phase.projekt.projekt_events.sort_by_incoming.first.present? %>
            <i class="far fa-calendar"></i>
            <span ><%= format_date(phase.projekt.projekt_events.sort_by_incoming.first.datetime.to_date) %></span>
          <% end %>

        <% elsif phase.is_a?(ProjektPhase::LivestreamPhase) && phase.resource_count.present? %>
          <% if phase.projekt.projekt_livestreams.order(starts_at: :desc).first.present? %>
            <i class="far fa-calendar"></i>
            <span ><%= format_date(phase.projekt.projekt_livestreams.order(starts_at: :desc).first.starts_at&.to_date) %></span>
          <% end %>

        <% elsif phase.start_date.present? && phase.end_date.present? %>
          <span class='time-icon'><%= format_date_range(phase.start_date, phase.end_date) %></span>
        <% end %>

        <% unless get_projekt_phase_restriction_name(phase, nil, true) == 'no_restriction' %>
          <span class='geo-restriction-icon'><%= get_projekt_phase_restriction_name(phase) %></span>
        <% end %>

        <% if phase.age_restriction.present? %>
          <span class='age-restriction-icon'><%= phase.age_restriction.name %></span>
        <% end %>
      </div>
    <% end %>

    <% if phase.subscribable? && projekt_feature?(phase.projekt, "sidebar.show_notification_subscription_toggler") %>
      <div class="phase-subscription">
        <%= render "custom/projekts/partials/phase_subscription", phase: phase %>
      </div>
    <% end %>
  </li>
<% end %>
