<div class="sidebar-divider hide-for-small-only"></div>

<h2 class="sidebar-title hide-for-small-only"><%= t("custom.projekts.page.sidebar.phases.title") %></h2>

<div class='sidebar-projekt-phases'>

  <% if show_cta? %>
    <span class='sidebar-projekt-phases-title'><%= t('custom.projekts.page.sidebar.phases.participate') %></span>
  <% end %>

  <% if projekt.show_start_date_in_frontend? && projekt.total_duration_start.present? %>
    <div class="sidebar-projekt-phase active" >
      <div class='sidebar-projekt-phase-status'>
      </div>
      <div class='sidebar-projekt-phase-details'>
        <span class='sidebar-projekt-phase-name'>
          <%= t('custom.projekts.page.sidebar.projekt_start') %>
        </span>
        <span class='sidebar-projekt-phase-duration'><%= format_date(projekt.total_duration_start) %></span>
      </div>
    </div>
  <% end %>

  <% index = 0 %>

  <% phases.each do |phase | %>
    <% next if phase.name == 'budget_phase' && phase.budget.blank?  %>

    <% if phase.phase_activated? %>
      <div class="sidebar-projekt-phase <%= 'active' if phase.current? %>" <%= "aria-expanded=true" if phase.name == 'budget_phase' %>>
        <div class='sidebar-projekt-phase-status'>
        </div>
        <div class='sidebar-projekt-phase-details'>
          <span class='sidebar-projekt-phase-name'>
            <%= phase.title %>
            <%= link_to projekt_phase_footer_tab_page_path(@projekt.page, phase),
              onclick: "$('#footer-content').addClass('show-loader');",
              class: "js-remote-link-push-state js-sidebar-phase-link",
              data: {
                index: index - 1,
                remote: true,
                "footer-tab-back-url": page_path(@projekt.page.slug, projekt_phase_id: phase.id, anchor: "projekt-footer"),
              } do %>
              <i class="fas fa-long-arrow-alt-right"></i>
            <% end %>

          </span>
          <span class='sidebar-projekt-phase-duration'><%= format_date_range(phase.start_date, phase.end_date) %></span>

          <% if phase.name == 'budget_phase' && phase.budget.present? %>

            <span class='js-icon-toggle-budget-phases toggle-arrow focusable js-prevent-key-scroll'
                  role="button"
                  tabindex="0"
                  aria-expanded="false"
                  aria-label="<%= t('custom.links.projekts_filter.arrow_label') %>" >
            </span>

            <div class='sidebar-projekt-budget-phases'>
              <%= render Pages::Projekts::SidebarBudgetPhasesComponent.new(phase.budget) %>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
    <% index += 1 %>
  <% end %>

  <% if projekt.show_end_date_in_frontend? && projekt.total_duration_end.present? %>
    <div class="sidebar-projekt-phase active">
      <div class='sidebar-projekt-phase-status'>
      </div>
      <div class='sidebar-projekt-phase-details'>
        <span class='sidebar-projekt-phase-name'>
          <%= t('custom.projekts.page.sidebar.projekt_end') %>
        </span>
        <span class='sidebar-projekt-phase-duration'><%= format_date(projekt.total_duration_end) %></span>
      </div>
    </div>
  <% end %>

</div>
