<div class="sidebar-divider <%= 'show-for-medium' if @default_phase_name == 'proposal_phase' %>"></div>

<h2 class="sidebar-title <%= 'show-for-medium' if @default_phase_name == 'proposal_phase' %>"><%= t("custom.projekts.page.sidebar.map.title") %></h2>

<div class=<%= 'show-for-medium' if @default_phase_name == 'proposal_phase' %>>
  <% unless get_projekt_affiliation_name(projekt, true) == 'no_affiliation' %>
    <p><%= get_projekt_affiliation_name(projekt) %></p>
  <% end %>

  <%= link_to extended_sidebar_map_page_path(projekt.page.slug), remote: true do %>
    <div class='sidebar-projekt-map'>
      <%= render Shared::MapComponent.new(
         map_location: projekt.map_location,
         parent_class: "proposals_sidebar",
         projekt: projekt,
         show_admin_shape: projekt.map_location.show_admin_shape?
       ) %>
    </div>
  <% end %>

  <div id="extended-sidebar-map">
  </div>
</div>
