<main class="user-resources-form">
  <%= translatable_form_for(resource, html: { class: "debate-form" }) do |f| %>
    <div class="flex-layout">
      <div class="layout-main-column">
        <%= back_path %>

        <h1 class="user-resources-form--title">
          <%= @title %>
        </h1>

        <div class="user-resources-form--description">
          <%= helpers.render_custom_block "user_resource_form_#{resource.class.name.downcase}" %>
        </div>

        <%= render "shared/errors", resource: resource %>

        <%= f.translatable_fields do |translations_form| %>
          <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

          <div class="user-resources-form--banner-editor <%= banner_class_name %>">
            <div class="user-resources-form--title-wrapper">
              <%= translations_form.text_area :title,
                maxlength: title_max_length,
                data: suggest_data(resource),
                label: false,
                class: 'user-resources-form--banner-editor-title',
                placeholder: t("custom.#{i18n_scope}.form.title_placeholder"),
                autocomplete: "off"
              %>
            </div>

            <% if extended_feature?("debates.head_image_for_debates") %>
              <div class="banner-editor-image-attachment">
                <% if f.object.image.blank? %>
                  <% f.object.build_image %>
                <% end %>
                <%= f.fields_for :image do |image_builder| %>
                  <%= render Images::DirectUploadComponent.new(image_builder, imageable: f.object) %>
                  <%# <%= render Images::FieldsComponent.new(image_builder, imageable: f.object) %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= translations_form.text_area :description,
            maxlength: max_description_lenght,
            label: false,
            placeholder: t("custom.debates.form.description_placeholder_html"),
            class: "html-area #{helpers.ck_editor_class(current_user)}"
          %>
      <% end %>

      <% if render_map? %>
        <div class="new-card" id='map-container'>
          <%= render "map_locations/form_fields",
            form:     f,
            map_location: resource.map_location || MapLocation.new,
            label: t("#{i18n_scope}.form.map_location"),
            help: t("custom.#{i18n_scope}.form.map_location_instructions"),
            remove_marker_label: t("proposals.form.map_remove_marker"),
            mappable: resource,
            projekt:  @selected_projekt,
            projekt_phase:  resource.projekt_phase,
            parent_class: "proposal",
            i18n_namespace: "proposals"
          %>
        </div>
      <% end %>

      <div class="user-resources-form--submit-section">
        <% if resource.new_record? %>
          <h3 class="user-resources-form--submit-section--privacy-policy">
            Datenschutzbestimmungen & Allgemeine Nutzerbedingungen
          </h3>

          <div>
            <%= f.check_box :resource_terms,
              title: t("custom.terms.resource_terms.title"),
              label: t("custom.terms.resource_terms.label",
                       privacy_link: link_to(
                         t("custom.terms.privacy_link.text"), "/privacy",
                         title: t("shared.target_blank"),
                         target: "_blank"
                       ),
                       terms_link: link_to(
                         t("custom.terms.terms_link.text"),
                         "/conditions",
                         title: t("shared.target_blank"),
                         target: "_blank"
                       )
                      ) %>
          </div>
        <% end %>

        <%= f.submit(class: "button", value: t("#{i18n_scope}.#{action_name}.form.submit_button")) %>
      </div>
      </div>

      <aside class="sidebar">
        <%# <%= helpers.render_custom_block 'proposals_creation_recommendations' %>

        <fieldset class="required-fields">
          <%= hidden_field_tag :order, params[:order] %>

          <div class="sidebar-card">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-code-branch"></i>
                Projektzuordnung
              </div>
              <% if @selected_projekt&.overview_page? %>
                <%= f.hidden_field :projekt_id, value: @selected_projekt.id %>
              <% else %>
                <!-- <legend><%= t("custom.shared.form.projekt_assignment") %></legend> -->
                <p>Ihr Vorschlag wird diesem Projekt zugeordnet:</p>
                <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: resource, projekts: Projekt.top_level }  %>
              <% end %>
            </div>
          </div>

          <div class="sidebar-card js-sidebar-documment-attacher-section">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-file"></i>
                Dokumente hinzufügen
              </div>
              <div class="documents" id="attach-documents">
                <%= render "documents/nested_documents", f: f %>
              </div>
            </div>
          </div>

          <% if translations_interface_enabled? %>
            <div class="sidebar-card" id="documents-attach-sidebar-card">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-language"></i>
                  Sprachen
                </div>
                <p>
                Wählen Sie aus, in welcher Sprache/welchen Sprachen Ihre Diskussion stattfinden soll:
                </p>
                <%= render "shared/globalize_locales", resource: resource %>
              </div>
            </div>
          <% end %>

          <div class="sidebar-card sidebar-external-video-section">
            <div class="sidebar-card--section">
              <div class="sidebar-card--header">
                <i class="fa fa-video"></i>
                Video hinzufügen
              </div>
              <p>
              Gibt es Videos, die Ihre Argumentation und Sichtweise stützen?
              Dann fügen Sie diese über einen Link hinzu.
              </p>
              <%= f.text_field :video_url, label: false, placeholder: 'YouTube oder Vimeo-Link eingeben', class: 'light-input' %>
            </div>
          </div>

          <%= f.invisible_captcha :subtitle %>

          <%if @categories&.any? %>
            <div class="sidebar-card js-sidebar-category-tags-selector-section">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-tag"></i>
                  Tags
                </div>
                <p>
                Tags sind Markierungen, die uns dabei helfen, Diskussionen
                bestimmten Themen zuzuordnen. So findet jeder schnell, was
                ihn interessiert. Aktivieren Sie per Klick den oder die Tags,
                die zu Ihrer Diskussion passen.
                </p>
                <div id="category_tags" class="tags">
                  <% @categories.each do |tag| %>
                    <a class="js-add-tag-link" data-category-id="<%= tag.id %>"><%= tag.name %></a>
                  <% end %>
                </div>
                <br>

                <%=f.hidden_field :tag_list_predefined, value: @resource.tags.reject{|t| !['category'].include?(t.kind)}.map(&:name).join(","), class: "js-tag-list list-tags predefined"%>
              </div>
            </div>
          <%end%>

          <% if extended_feature?("modulewide.enable_categories") && @categories&.any? && SDG::ProcessEnabled.new(f.object).enabled? %>
            <div class="sidebar-card js-sidebar-sdgs-selector-section">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-video"></i>
                  UN-Nachhaltigkeitsziele
                </div>
                <p>
                Die Vereinten Nationen haben 17 Nachhaltigkeitsziele
                formuliert. Lässt sich Ihre Diskussion einem dieser Ziele
                zuordnen? Dann aktivieren Sie das entsprechende Feld per Klick.
                </p>
                <div id="sdgs-selector" class='row margin-top'>
                  <br>
                  <%= render SDG::RelatedListSelectorComponent.new(f) %>
                </div>
              </div>
            </div>
          <% end %>

          <% if current_user.administrator? || current_user.moderator? %>
            <div class="sidebar-card">
              <div class="sidebar-card--section">
                <div class="sidebar-card--header">
                  <i class="fa fa-user"></i>
                  Veröffentlichen für
                </div>
                <p>
                Dieses Feld sehen nur Admin. Sie können hier eine Diskussion im Namen von jemandem erstellen.
                </p>
                <%= f.text_field :on_behalf_of, label: false, placeholder: "Namen eingeben...", class: "light-input" %>
              </div>
            </div>
          <% end %>
      </aside>
    </div>
  <% end %>
</main>
