<div class="phase-geo-restriction">
  <strong class='geo-restriction-title'>
    <span class='geo-restriction-icon'><%= t("custom.admin.projekts.edit.projekt_phases_tab.geo_restriction_title") %></span>
    <span class='restriction-hint'><%= t("custom.projekt_phases.restrictions.hint") %></span>
  </strong>
  <div class="margin-bottom <%= 'gray-labels' if skip_user_verification? %>">
    <div class="projekt-phase-restriction-block">
      <%= f.radio_button :geozone_restricted, 'no_restriction',
                         label: t('custom.geozones.sidebar_filter.restrictions.no_restriction' ),
                         class: "projekt-phase-restriction-option projekt-phase-geo-restriction",
                         checked: ( projekt_phase.geozone_restricted.blank? || projekt_phase.geozone_restricted == 'no_restriction' ),
                         disabled: skip_user_verification? %>
    </div>

    <div class="projekt-phase-restriction-block">
      <%= f.radio_button :geozone_restricted, 'only_citizens',
                         label: t('custom.geozones.sidebar_filter.restrictions.only_citizens'),
                         class: "projekt-phase-restriction-option projekt-phase-geo-restriction",
                         disabled: skip_user_verification? %>
    </div>

    <div class="projekt-phase-restriction-block">
      <%= f.radio_button :geozone_restricted, 'only_geozones',
                         label: t('custom.geozones.sidebar_filter.restrictions.only_geozones'),
                         class: "projekt-phase-restriction-option projekt-phase-geo-restriction",
                         disabled: skip_user_verification? %>

      <div class="projekt-phase-geo-restriction-selector">
        <%= f.collection_check_boxes(:geozone_restriction_ids, Geozone.all, :id, :name, {}, { disabled: skip_user_verification? } ) do |b| %>
          <%= b.label(style: 'display:inline-block;cursor:pointer;') { b.check_box(style: 'margin-top:0;') + b.text } %>
        <% end %>
      </div>
    </div>

    <div class="projekt-phase-restriction-block">
      <%= f.radio_button :geozone_restricted, 'only_streets',
                         label: t('custom.geozones.sidebar_filter.restrictions.only_streets'),
                         class: "projekt-phase-restriction-option projekt-phase-geo-restriction",
                         disabled: skip_user_verification? %>

      <div class="projekt-phase-street-selector projekt-phase-geo-restriction-selector" style="column-count: 1;">
        <div id="projekt-phase-selected-streets">
          <% projekt_phase.registered_address_streets.each do |street| %>
            <div class='selected-street' data-street-id=<%= street.id %>>
              <%= street.name_with_plz %>
              <i class='fas fa-times js-deselect-street'></i>
            </div>
          <% end %>
        </div>

        <%= select_tag :streets, options_from_collection_for_select(RegisteredAddress::Street.all, :id, :name_with_plz), class: "js-select-street", prompt: "Bitte wählen" %>

        <div class='hide'>
          <%= f.collection_check_boxes :registered_address_street_ids, RegisteredAddress::Street.all, :id, :name %>
        </div>
      </div>
    </div>

  </div>
</div>
