<table>
  <thead>
    <tr>
      <th></th>
      <th>Follow-up E-Mail(s)</th>
      <% @formular_fields.each do |ff| %>
        <th><%= ff.name %></th>
      <% end %>
      <% if @image_flag %>
        <th>Bilder</th>
      <% end %>
      <th>Einsender-ID</th>
      <th>E-Mail des Absenders</th>
      <th>Eingereicht am</th>
    </tr>
  </thead>
  <tbody>
    <% @formular_answers.each do |fa| %>
      <tr>
        <td>
          <%= check_box_tag "formular_answer_ids[]", fa.id, true %>
        </td>
        <td>
          <% fa.formular_follow_up_letter_recipients.order(:id).map do |recipient| %>
            <%= "#{recipient.formular_follow_up_letter.subject} (#{recipient.formular_follow_up_letter.sent_at || "Entwurf"})" %>
            <br>
          <% end %>
        </td>
        <% @formular_fields.each do |ff| %>
          <td><%= fa.answers[ff.key] %></td>
        <% end %>
        <% if @image_flag %>
          <td>
            <%= fa.formular_answer_images.map do |image| %>
              <% link_to image.formular_field_key, url_for(image.variant(:large)), target: "_blank" %>
            <% end.join(", ").html_safe %>
          </td>
        <% end %>
        <td><%= fa.submitter_id %></td>
        <td><%= fa.original_submitter_email %></td>
        <td><%= l(fa.created_at.to_date, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
