<% if comments_allowed? %>
  <%= render "comments/form", { commentable: @projekt, parent_id: nil } %>

<% elsif user_signed_in? && @projekt.present? %>
  <div class='callout alert'>
    <% if !current_user.level_two_or_three_verified? %>
      <%= t('custom.comments.restricted.not_verified', verify_account: link_to_verify_account).html_safe %>

    <% elsif !@projekt.comment_phase.current? %>
      <%= t('custom.comments.restricted.projekt_phase_not_active')%>

    <% elsif @projekt.comment_phase.only_citizens_allowed? && !current_user.current_city_citizen?  %>
      <%= t('custom.comments.restricted.only_for_citizens') %>

    <% elsif @projekt.comment_phase.only_geozones_allowed? && !@projekt.comment_phase.geozone_allowed?(current_user)  %>
      <%= t('custom.comments.restricted.geozone_not_allowed', geozones: @projekt.comment_phase.geozone_restrictions.ids.join(', ') ) %>

    <% else %>
      <%= t('custom.comments.restricted.other')%>
    <% end %>
  </div>

<% elsif user_signed_in? && @projekt.nil? %>
  <div class='callout success'>
  <%= t('custom.comments.restricted.other')%>
  </div>

<% else %>
  <%= render "shared/login_to_comment" %>

<% end %>
