<%= translatable_form_for(investment, url: url, html: { class: "budget-investment-form" }) do |f| %>

  <%= render "shared/errors", resource: investment %>

  <fieldset class="required-fields">
    <legend><%= t("custom.budgets.investments.form.required") %></legend>

    <% unless budget.single_heading? %>
      <div>
        <%= f.select :heading_id, budget_heading_select_options(budget), { include_blank: true } %>
      </div>
    <% end %>

    <% if projekt_feature?(investment&.projekt, 'budgets.show_implementation_option_fields')  %>
      <div>
        <%= f.select :implementation_performer, options_for_implementation_select, {}, { class: 'implementation-performer show-arrow', onChange: "$(this).val() === 'user' ? $('#implementation_contribution').css('display', 'block') : $('#implementation_contribution').css('display', 'none')" } %>
      </div>

      <div id='implementation_contribution' style="display:<%= investment.implementation_performer == 'user' ? 'block' : 'none' %>">
        <%= f.text_field :implementation_contribution %>
      </div>
    <% end %>

    <% if projekt_feature?(investment.projekt, 'budgets.show_user_cost_estimate') %>
      <%= f.text_field :user_cost_estimate %>
    <% end %>

    <% if projekt_feature?(budget&.projekt, 'budgets.show_map') %>
      <div>
        <%= render "map_locations/form_fields",
                   form:           f,
                   map_location:   investment.map_location || MapLocation.new,
                   label:          t("budgets.investments.form.map_location"),
                   help:           t("budgets.investments.form.map_location_instructions"),
                   parent_class:   "budget_investment",
                   projekt:        budget&.projekt,
                   i18n_namespace: "budgets.investments" %>
      </div>
    <% end %>

    <div>
      <%= render "shared/globalize_locales", resource: investment %>
    </div>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Budget::Investment.title_max_length,
              data: suggest_data(investment) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Budget::Investment.description_max_length,
              class: "html-area #{helpers.ck_editor_class(current_user)}" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend><%= t("shared.optional") %></legend>

    <% if feature?(:allow_images) %>
      <div class="images">
        <%= render "images/nested_image", f: f %>
      </div>
    <% end %>

    <% if projekt_feature?(budget.projekt, "budgets.allow_attached_documents") %>
      <div class="documents">
        <%= render "documents/nested_documents", f: f %>
      </div>
    <% end %>

    <% if current_user.administrator? || current_user.moderator? %>
      <div>
        <%= f.text_field :on_behalf_of %>
      </div>
    <% end %>

    <%# if current_user.administrator? %>
      <!--
      <div>
        <%#= f.text_field :organization_name %>
      </div>
      -->
    <%# end %>
  </fieldset>

  <div class="actions">
    <% unless current_user.manager? || investment.persisted? %>
      <div>

        <%= f.check_box :terms_data_storage,
          title: t("custom.terms.data_storage.title"),
          label: t("custom.terms.data_storage.label"),
          class: "checkbox-label--aligned" %>

        <%= f.check_box :terms_data_protection,
          title: t("custom.terms.data_protection.title"),
          label: t("custom.terms.data_protection.label",
                   privacy_link: link_to(t("custom.terms.privacy_link.text"), "/privacy",
                                         title: t("shared.target_blank"), target: "_blank")),
          class: "checkbox-label--aligned" %>

        <%= f.check_box :terms_general,
          title: t("custom.terms.general.title"),
          label: t("custom.terms.general.label",
                   terms_link: link_to(t("custom.terms.terms_link.text"), "/privacy",
                                       title: t("shared.target_blank"), target: "_blank")),
          class: "checkbox-label--aligned" %>

        <p style="text-align:left;"><%= t("custom.terms.revoke_consent.text") %></p>

      </div>
    <% end %>

    <%= f.submit %>
  </div>
<% end %>
