<%= render "shared/filter_subnav", i18n_namespace: "admin.users.index" %>

<% if @users.any? %>
  <h3><%= page_entries_info @users %></h3>

  <% if @current_filter != "erased" %>
    <%= link_to t("custom.shared.download"), admin_users_path(format: :csv), class: "float-right small clear" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <% if @current_filter == "erased" %>
          <th scope="col"><%= t("admin.users.columns.id") %></th>
          <th scope="col"><%= t("admin.users.columns.erase_reason") %></th>
          <th scope="col"><%= t("admin.users.columns.unique_stamp") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.geozone") %></th>
          <th scope="col"><%= t("admin.users.columns.verified_at") %></th>
        <% else %>
          <th scope="col"><%= t("admin.users.columns.name") %></th>
          <th scope="col"><%= t("admin.users.columns.email") %></th>

          <th scope="col"><%= t("custom.admin.users.columns.first_name") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.last_name") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.city_name") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.street_address_old") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.street_address") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.plz") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.geozone") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.document_type") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.document_last_digits") %></th>

          <th scope="col"><%= t("custom.admin.users.columns.gender") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.date_of_birth") %></th>
          <th scope="col"><%= t("admin.users.columns.roles") %></th>
          <th scope="col"><%= t("admin.users.columns.unique_stamp") %></th>
          <th scope="col"><%= t("custom.admin.users.columns.verified_at") %></th>

          <th scope="col"><%= t("custom.admin.users.columns.actions") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render 'admin/users/user_row', user: user %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% else %>
  <div class="callout primary">
    <%= t("admin.users.index.no_users") %>
  </div>
<% end %>
