<% if @question.parent_question.present? %>
  <%= back_link_to(admin_question_path(id: @question.parent_question)) %>
<% else %>
  <%= back_link_to admin_poll_path(@question.poll) %>
<% end %>

<% if can?(:update, @question) %>
  <% if @question.bundle_question? %>
    <% text = "Fragenbündel bearbeiten" %>
  <% else %>
    <% text = t("admin.questions.show.edit_question") %>
  <% end %>
  <%= link_to text, edit_admin_question_path(@question),
              class: "button hollow float-right" %>
<% end %>

<div class="clear"></div>


<% if @question.bundle_question? %>
  <h3>
    <%= @question.title %>
  </h3>
<% end %>
<% unless @question.bundle_question? %>
  <div class="small-12 medium-6">
    <div class="callout highlight">
      <% if @question.parent_question.present? %>
        <p>
          <!-- <strong><%= t("admin.questions.show.question") %></strong> -->
          <strong>Fragenbündel</strong>
          <br>
          <%= @question.parent_question.title %>
        </p>
      <% end %>
      <% unless @question.bundle_question? %>
        <p>
        <strong><%= t("admin.questions.show.question") %></strong>
        <br>
        <%= @question.title %>
        </p>
      <% end %>
      <p>
        <strong><%= t("custom.admin.polls.questions.show.description") %></strong>
        <br>
        <%= auto_link_already_sanitized_html wysiwyg(@question.description) %>
      </p>
      <p>
        <strong><%= t("admin.questions.show.author") %></strong>
        <br>
        <%= link_to @question.author.name, user_path(@question.author) %>
      </p>

      <% if @question.proposal.present? %>
        <p>
          <strong><%= t("admin.questions.show.proposal") %></strong>
          <br>
          <%= link_to @question.proposal.title, proposal_path(@question.proposal) %>
        </p>
      <% end %>

      <% if @question.votation_type.present? %>
        <p>
          <strong><%= t("admin.polls.votation_type.title") %></strong>
          <br>
          <%= VotationType.human_attribute_name("vote_type.#{@question.vote_type}") %>
        </p>
        <% if @question.max_votes.present? %>
          <p>
            <strong><%= VotationType.human_attribute_name("max_votes") %></strong>
            <br>
            <% if @question.votation_type.unique? &&  @question.votation_type.rating_scale? %>
              <%= 1 %>
            <% else %>
              <%= @question.max_votes %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="clear">
  <% if can?(:create, Poll::Question::Answer.new(question: @question)) %>
    <% unless @question.bundle_question? %>
      <%= link_to t("admin.questions.show.add_answer"), new_admin_question_answer_path(@question),
        class: "button float-right" %>
    <% end %>

    <% if @question.parent_question.blank? && @question.bundle_question? %>
      <%= link_to t("custom.admin.questions.show.add_nested_question"), new_admin_question_path(poll_id: @question.poll.id, parent_question_id: @question.id),
        class: "button float-right" %>
    <% end %>
  <% else %>
    <div class="callout warning">
      <strong><%= t("admin.questions.no_edit") %></strong>
    </div>
  <% end %>
</div>

<% unless @question.bundle_question? %>
  <table class="margin-top">
    <thead>
      <tr>
        <th><%= t("admin.questions.show.answers.title") %></th>
        <% if @question.votation_type.unique? || @question.votation_type.multiple? %>
          <th scope="col" class="medium-7"><%= t("admin.questions.show.answers.description") %></th>
        <% end %>
        <th scope="col" class="text-center"><%= t("custom.admin.questions.show.answers.next_question") %></th>
        <th scope="col" class="text-center"><%= t("admin.questions.show.answers.images") %></th>
        <th scope="col" class="text-center"><%= t("admin.questions.show.answers.documents") %></th>
        <th scope="col" class="text-center"><%= t("admin.questions.show.answers.videos") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>

    <tbody class="sortable" data-js-url="<%= admin_question_answers_order_answers_path(@question.id) %>">
      <% @question.question_answers.each do |answer| %>
        <tr id="<%= dom_id(answer) %>" class="poll_question_answer" data-answer-id="<%= answer.id %>">
          <td class="align-top"><%= answer.title %></td>
          <% if @question.votation_type.unique? || @question.votation_type.multiple? %>
            <td class="align-top break"><%= wysiwyg(answer.description) %></td>
          <% end %>
          <td class="align-top text-center">
            <%= answer.next_question_id %>
          </td>
          <td class="align-top text-center">
            (<%= answer.images.count %>)
            <br>
            <%= link_to t("admin.questions.show.answers.images_list"),
                        admin_answer_images_path(answer) %>
          </td>
          <td class="align-top text-center">
            (<%= answer.documents.count rescue 0 %>)
            <br>
            <%= link_to t("admin.questions.show.answers.documents_list"),
                        admin_answer_documents_path(answer) %>
          </td>
          <td class="align-top text-center">
            (<%= answer.videos.count %>)
            <br>
            <%= link_to t("admin.questions.show.answers.video_list"),
                        admin_answer_videos_path(answer) %>
          </td>
          <td>
            <%= render Admin::TableActionsComponent.new(answer,
              actions: [:edit, :destroy],
              edit_path: edit_admin_answer_path(answer),
              destroy_confirmation: t("custom.admin.polls.questions.answers.notice.delete.confirmation"),
              destroy_path: admin_answer_path(answer)
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @question.nested_questions.present? %>
  <table class="">
    <thead>
      <tr>
        <th><%= t("admin.questions.show.nested_questions.title") %></th>
        <th><%= t("custom.admin.questions.show.vote_type") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <!-- <tbody class="sortable" data-js-url="<%= admin_question_answers_order_answers_path(@question.id) %>"> -->
    <tbody class="sortable">
      <% @question.nested_questions.each do |nested_question| %>
        <tr id="<%= dom_id(nested_question) %>" class="poll_question_answer" data-nested_question-id="<%= nested_question.id %>">
          <td class="align-top"><%= nested_question.title %></td>
          <td class="align-top"><%= VotationType.human_enum_name(:vote_type, nested_question.votation_type.vote_type) %></td>
          <td>
            <%= render Admin::TableActionsComponent.new(nested_question) do |actions| %>
              <%= actions.link_to t("admin.polls.show.edit_answers"), admin_question_path(nested_question), class: "answers-link" %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @question.video_url.present? %>
  <p>
    <strong><%= t("admin.questions.show.video_url") %></strong>
    <br>
    <a href="<%= @question.video_url %>"><%= @question.video_url %></a>
  </p>
<% end %>
