<%= form_for(projekt_argument, url: url) do |f| %>
  <%= f.hidden_field :tab, value: "#tab-projekt-arguments" %>
  <%= f.hidden_field :namespace, value: @namespace %>

  <% if @projekt.argument_phases.count == 1 %>
    <%= f.hidden_field :projekt_phase_id, value: @projekt.argument_phases.first.id %>
  <% else %>
    <div class='small-12 medium-10'>
      <%= f.label :projekt_phase_id, t("custom.admin.projekts.edit.projekt_arguments_tab.phases_label") %>
      <div class="d-flex">
        <% @projekt.argument_phases.each.with_index(1) do |argument_phase, index| %>
          <div class="d-flex d-flex-start margin-right">
            <%= f.radio_button :projekt_phase_id, argument_phase.id, label: false, required: true, id: "projekt_argument_phase_#{argument_phase.id}" %>
            <%= f.label "phase_#{argument_phase.id}",
              "#{argument_phase.phase_tab_name.presence || t("custom.admin.projekts.edit.projekt_arguments_tab.name")} (#{argument_phase.name} #{index})" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='small-12 medium-7'>
    <%= f.label :pro, t("custom.admin.projekts.edit.projekt_arguments_tab.argument_type_label") %>
    <div class="d-flex">
      <div class="d-flex d-flex-start">
        <%= f.radio_button :pro, true, label: false, required: true, id: "projekt_argument_pro_#{f.object.id}" %>
        <%= f.label "pro_#{f.object.id}", t("custom.admin.projekts.edit.projekt_arguments_tab.argument_pro") %>
      </div>

      <div class="d-flex d-flex-start margin-left">
        <%= f.radio_button :pro, false, label: false, required: true, id: "projekt_argument_cons_#{f.object.id}" %>
        <%= f.label "cons_#{f.object.id}", t("custom.admin.projekts.edit.projekt_arguments_tab.argument_cons") %>
      </div>
    </div>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :name, { id: "projekt_argument_name_#{f.object.id}", label: t("custom.admin.projekts.edit.projekt_arguments_tab.argument_name"), required: true } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :party, { id: "projekt_argument_party_#{f.object.id}", label: t("custom.admin.projekts.edit.projekt_arguments_tab.argument_party") } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :position, { id: "projekt_argument_position_#{f.object.id}", label: t("custom.admin.projekts.edit.projekt_arguments_tab.argument_position"), required: true } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_area :note, { id: "projekt_argument_note_#{f.object.id}", label: t("custom.admin.projekts.edit.projekt_arguments_tab.argument_note"), required: true } %>
  </div>

  <div class='small-12 medium-7 margin-bottom'>
    <%= f.file_field 'image_attributes[attachment]', { required: f.object.new_record?, id: "projekt_argument_image_#{f.object.id}", label: t("custom.admin.projekts.edit.projekt_arguments_tab.argument_image") } %>
    <%= f.hidden_field 'image_attributes[title]', value: 'photo' %>
    <%= f.hidden_field 'image_attributes[user_id]', value: current_user.id %>
  </div>

  <div>
    <%= f.submit(t("custom.admin.projekts.edit.projekt_arguments_tab.button"), class: "button") %>
  </div>
<% end %>
