<%= form_for(event, url: url) do |f| %>
  <%= hidden_field_tag :namespace, params[:controller].include?('projekt_management') ? 'projekt_management' : '' %>

  <%= render "shared/errors", resource: f.object %>

  <% if @projekt.event_phases.count == 1 %>
    <%= f.hidden_field :projekt_phase_id, value: @projekt.event_phases.first.id %>
  <% else %>
    <div class='small-12 medium-10'>
      <%= f.label :projekt_phase_id, t("custom.admin.projekts.edit.projekt_events_tab.phases_label") %>
      <div class="d-flex">
        <% @projekt.event_phases.each.with_index(1) do |event_phase, index| %>
          <div class="d-flex d-flex-start margin-right">
            <%= f.radio_button :projekt_phase_id, event_phase.id, label: false, required: true, id: "projekt_event_phase_#{event_phase.id}" %>
            <%= f.label "phase_#{event_phase.id}",
              "#{event_phase.phase_tab_name.presence || t("custom.admin.projekts.edit.projekt_events_tab.name")} (#{event_phase.name} #{index})" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='small-12 medium-7'>
    <%= f.text_field :title, {label: t("custom.admin.projekts.edit.projekt_events_tab.event_title"), required: true } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :location, {label: t("custom.admin.projekts.edit.projekt_events_tab.event_location") } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.datetime_field :datetime, {label: t("custom.admin.projekts.edit.projekt_events_tab.event_datetime"), required: true } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.datetime_field :end_datetime, {label: t("custom.admin.projekts.edit.projekt_events_tab.event_end_datetime") } %>
  </div>

  <div class='small-12 medium-7'>
    <%= f.text_field :weblink, {label: t("custom.admin.projekts.edit.projekt_events_tab.event_weblink") } %>
  </div>

  <% textarea_wrap_class = local_assigns[:wide_textarea].present? ? '' : 'small-12 medium-7' %>
  <div class="<%= textarea_wrap_class %>">
    <%= f.text_area :description, rows: 10, id: "projekt-event-description-#{event.id}", class: "html-area #{ck_editor_class(current_user)}" %>
  </div>

  <%= f.hidden_field :tab, value: "#tab-projekt-events" %>

  <div>
    <%= f.submit(t("custom.admin.projekts.edit.projekt_events_tab.button"), class: "button") %>
  </div>
<% end %>
