<div class="sidebar">
  <%= render Shared::SidebarCardComponent.new(title: 'Neuigkeiten', icon_name: "bullhorn") do |c| %>
    <% c.body do %>
      <%= render_custom_block 'home_page_sidebar' %>
    <% end %>
  <% end %>

  <%= render Shared::SidebarCardComponent.new(title: 'Nutzer*innen', icon_name: "info-circle") do |c| %>
    <% c.body do %>
      <div class="system-users-list">
        <div class="system-users-list--title">
          <%= number_with_delimiter(User.count,  delimiter: ".") %> Nutzer*innen
        </div>
        <div class="system-users-list--images">
          <% User.where.not(first_name: nil).last(5).each do |user| %>
            <div class="system-users-list--image">
              <%= user&.first_name&.chars&.first&.capitalize %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%# <%= render Shared::SidebarCardComponent.new(title: 'Aktivität | letzte 7 Tage', icon_name: "info-circle") do |c| %>
  <%#   <% c.body do %>
  <%#     <div>
  <%#       17 neue Benutzer*innen
  <%#     </div>
  <%#     <div>
  <%#       20 neue Kommentare
  <%#     </div>
  <%#     <div>
  <%#       4 neue Vorschläge
  <%#     </div>
  <%#     <div>
  <%#       7 neue Diskussionen
  <%#     </div>
  <%#   <% end %>
  <%#
  <%#   <% c.additional_body do %>
  <%#     <div class="sidebar-active-users-section">
  <%#       <div>
  <%#         <i class="far fa-lightbulb">
  <%#         </i>
  <%#         Zur Übersicht aller Vorschläge
  <%#       </div>
  <%#       <div>
  <%#         <i class="far fa-comments">
  <%#         </i>
  <%#         Zur Übersicht aller Diskussionen
  <%#       </div>
  <%#       <div>
  <%#         <i class="fas fa-vote-yea">
  <%#         </i>
  <%#         Zur Übersicht aller Abstimmungen
  <%#       </div>
  <%#     </div>
  <%#   <% end %>
  <%# <% end %>
</div>
