<%= translatable_form_for(proposal, url: url, html: { class: "proposal-form" }) do |f| %>
  <%= render "shared/errors", resource: proposal %>

  <% if params[:projekt_phase_id] %>
    <%= hidden_field_tag :projekt_phase_id, params[:projekt_phase_id] %>
  <% end %>

  <fieldset class="required-fields">
    <%= hidden_field_tag :order, params[:order] %>

    <% if @selected_projekt&.overview_page?  %>
      <%= f.hidden_field :projekt_id, value: @selected_projekt.id %>

    <% else %>
      <div class="<%= params[:projekt_phase_id] ? "hide" : "" %>">
        <legend><%= t("custom.shared.form.projekt_assignment") %></legend>
        <div id="projekt-selector-block" class="margin-top">
          <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: @proposal } %>
        </div>
      </div>
    <% end %>

    <legend class="margin-top tagging"><%= t("custom.proposals.form.tagging") %></legend>
    <%= render partial: "shared/projekt_selector/projekt_labels", locals:	{ f: f, model: @proposal } %>
    <%= render partial: "shared/projekt_selector/sentiments", locals:	{ f: f, model: @proposal } %>

    <legend class='margin-top'><%= t("custom.proposals.form.required") %></legend>
    <%= render "shared/globalize_locales", resource: proposal %>

    <% if feature?(:allow_images) %>
      <div id="attach-image" class="images">
        <%= render "images/nested_image", f: f %>
      </div>
    <% end %>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Proposal.title_max_length,
              data: suggest_data(proposal),
              autocomplete: "off" %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div class='summary-field'>
        <%= translations_form.text_area :summary,
                                        rows: 4, maxlength: 200,
                                        hint: t("proposals.form.proposal_summary_note") %>
      </div>

      <div>
        <%= translations_form.text_area :description,
                                        maxlength: Proposal.description_max_length,
                                        class: "html-area #{helpers.ck_editor_class(current_user)}" %>
      </div>
    <% end %>

    <div id='map-container'>
      <%= render "map_locations/form_fields",
                 form:           f,
                 map_location:   proposal.map_location || MapLocation.new,
                 label:          t("proposals.form.map_location"),
                 help:           t("proposals.form.map_location_instructions"),
                 projekt:        @selected_projekt,
                 parent_class:   "proposal",
                 i18n_namespace: "proposals" %>
    </div>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend id='additional-fields-title'><%= t("shared.optional") %></legend>

    <% if current_user.administrator? || current_user.moderator? %>
      <div id="on-behalf-of-fields">
        <%= f.text_field :on_behalf_of %>
      </div>
    <% end %>

    <div class="documents" id="attach-documents">
      <%= render "documents/nested_documents", f: f %>
    </div>

    <div id="external-video-url-fields" style="clear:left;">
      <%= f.text_field :video_url, hint: t("proposals.form.proposal_video_url_note") %>
    </div>
  </fieldset>

  <div class="actions">
    <% if proposal.new_record? %>
      <span class='star-message'><%= t('custom.shared.form.star_message')  %></span>
      <div>
        <%= f.check_box :resource_terms,
          title: t("custom.terms.resource_terms.title"),
          label: t("custom.terms.resource_terms.label",
                   privacy_link: link_to(t("custom.terms.privacy_link.text"), "/privacy",
                                         title: t("shared.target_blank"), target: "_blank"),
                   terms_link: link_to(t("custom.terms.terms_link.text"), "/conditions",
                                       title: t("shared.target_blank"), target: "_blank")),
          class: "checkbox-label--aligned" %>
      </div>
    <% end %>

    <% unless proposal.published? %>
      <%= f.submit t("custom.proposals.form.buttons.save_draft"), class: 'button', name: 'save_draft' %>
    <% end %>
    <%= f.submit t("custom.proposals.form.buttons.publish"),    class: "button" %>
  </div>
<% end %>
