<%= form_for(polymorphic_path([@namespace, @projekt_phase, @projekt_livestream])) do |f| %>
  <%= render "shared/errors", resource: @projekt_livestream %>

  <div class='small-12 medium-7'>
    <%= f.text_field :url, { id: dom_id(@projekt_livestream, :url), required: true } %>
  </div>

  <% if @projekt_livestream.persisted? %>
    <div class='small-12 medium-7'>
      <%= f.text_field :title, { id: dom_id(@projekt_livestream, :title) } %>
    </div>

    <div class='small-12 medium-7'>
      <%= f.datetime_field :starts_at, { id: dom_id(@projekt_livestream, :starts_at) } %>
    </div>

    <div class='small-12 medium-12'>
      <%= f.text_area :description, { id: dom_id(@projekt_livestream, :description) } %>
    </div>
  <% end %>

  <div>
    <%= f.submit(class: "button") %>
  </div>
<% end %>
